<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>사용자ID</th>
        <th style="width:50%">제목</th>
        <th>신청일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exchange, loop : ${exchangeList}">
        <td><span th:if="${exchange.siteUser != null}" th:text="${exchange.siteUser.username}"></span></td>
        <td>
            <a th:href="@{|/exchange/detail/${exchange.id}|}" th:text="${exchange.subject}"></a>
        </td>

        <td th:text="${#temporals.format(exchange.createDate, 'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>