<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
<h2 class="border-bottom py-2" th:text="${exchange.subject}"></h2>
<div class="card my-3">
    <div class="card-body">
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.content}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.realname}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.email}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.address}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.f_No}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.phonNo_2}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.phonNo_3}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.homeAdress}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.nationality}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.bank}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.accountHolder}"></div>
        <div class="card-text" style="white-space: pre-line;" th:text="${exchange.accountNumber}"></div>

        <div class="d-flex justify-content-end">
            <div class="badge bg-light text-dark p-2 text-start">
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>