<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <style>
        /* 선택된 결제 방법 스타일 */
    .selected {
color: green;
    font-weight: bold; /* 선택된 텍스트 굵게 표시 */
    /* 원하는 다른 스타일 추가 */
    }
.selected::after {
    content: '\2713'; /* 유니코드로 체크 모양 추가 */
    margin-left: 5px; /* 체크 모양과 텍스트 사이의 여백 조절 */
}
    </style>
    <meta charset="UTF-8">
    <title>payment</title>
</head>
<body>
<div layout:fragment="content" class="pl-3 pr-3">


        <h2 th:text="'하트 충전'" style="font-weight: bold; font-size: 18px;" class="pt-3 pb-3 pl-2"></h2>
        <h2 th:text="'구매할 하트 선택'" style="font-weight: bold; font-size: 17px;" class="pb-3 pl-2"></h2>

        <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>
        <section class="amount">
            <div class="m-5 flex items-center">
                <input class="radio radio-secondary mr-2" type="radio" name="payment-option" id="payment-option-1" value="5000"
                       onclick="showPaymentPage(5000)">
                <label for="payment-option-1" class="flex items-center">
                    <img src="/img/heart.png" alt="아이콘 설명" class="w-7 h-7 mr-1">
                    <span class="text-base">50개 (5,000원)</span> <!-- 텍스트 크기 조정 -->
                </label>
            </div>
            <div class="m-5 flex items-center">
                <input class="radio radio-secondary mr-2" type="radio" name="payment-option" id="payment-option-2" value="10000"
                       onclick="showPaymentPage(10000)">
                <label for="payment-option-2" class="flex items-center">
                    <img src="/img/heart.png" alt="아이콘 설명" class="w-7 h-7 mr-1">
                    <span class="text-base">100개 (10,000원)</span>
                </label>
            </div>
            <div class="m-5 flex items-center">
                <input class="radio radio-secondary mr-2" type="radio" name="payment-option" id="payment-option-3" value="30000"
                       onclick="showPaymentPage(30000)">
                <label for="payment-option-3" class="flex items-center">
                    <img src="/img/heart.png" alt="아이콘 설명" class="w-7 h-7 mr-1">
                    <span class="text-base">300개 (30,000원)</span>
                </label>
            </div>
            <div class="m-5 flex items-center">
                <input class="radio radio-secondary mr-2" type="radio" name="payment-option" id="payment-option-4" value="50000"
                       onclick="showPaymentPage(50000)">
                <label for="payment-option-4" class="flex items-center">
                    <img src="/img/heart.png" alt="아이콘 설명" class="w-7 h-7 mr-1">
                    <span class="text-base">500개 (50,000원)</span>
                </label>
            </div>
        </section>
    <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>


    <div class="payment-page  w-full" id="payment-page">
        <p class="pt-3  " style="font-weight: bold; font-size: 17px; text-align: center;" id="selected-amount">
            <span style="position: relative; left: 15%;">결제하실 금액: <span id="amount-label"></span></span>
        </p>
        <h2 class="pb-3 pl-3">결제방식 선택</h2>
        <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>

        <div>
            <title>구매하기</title>
            <meta charset="UTF-8"/>
            <meta http-equiv="x-ua-compatible" content="ie=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            <link rel="stylesheet" href="./bulma.min.css">
            <script src="https://js.tosspayments.com/v1"></script>
        </div>

        <section class="section_box">

            <div class="pay_container flex justify-between ">
                    <button style="display: flex; justify-content: center;" type="submit" class="flex items-center w-1/2" id="card-button" onclick="selectPayment('card');">
                        <img src="/img/credit-card.png" alt="아이콘 설명" class="w-6 h-6 mr-2">
                        카드결제
                    </button>
                <div style="display: flex; justify-content: center;">
                    <div style="border-left: 1px solid #D6D2D2; height: 100px;"></div>
                </div>
                <button style="display: flex; justify-content: center;" type="submit" class="flex items-center w-1/2" id="phone-button" onclick="selectPayment('phone');">
                    <img src="/img/smartphone.png" alt="아이콘 설명" class="w-6 h-6 mr-1">
                    휴대폰 결제
                </button>
            </div>
            <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>
            <div class="pay_container flex justify-between ">
                <button style="display: flex; justify-content: center;" type="submit" class="flex items-center w-1/2" id="certificate-button" onclick="selectPayment('certificate');">
                    <img src="/img/cash.png" alt="아이콘 설명" class="w-9 h-9 mr-1">
                    상품권 결제
                </button>
                <div style="display: flex; justify-content: center;">
                    <div style="border-left: 1px solid #D6D2D2; height: 100px;"></div>
                </div>
                <button style="display: flex; justify-content: center;" type="submit" class="flex items-center w-1/2" id="transfer-button" onclick="selectPayment('transfer');">
                    <img src="/img/low-price.png" alt="아이콘 설명" class="w-6 h-6 mr-1">
                    계좌이체
                </button>
            </div>
        </section>

        <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>

        <button class="btn w-full pl-3 pr-3 mt-10 mb-10" style="background-color: #B276EE; color: white;" onclick="executeSelectedPayment()">결제하기</button>


    </div>

    <script>
        let selectedPaymentMethod = null;

        function selectPayment(method) {
            if (selectedPaymentMethod) {
                document.getElementById(selectedPaymentMethod + '-button').classList.remove('selected');
            }

            selectedPaymentMethod = method;
            document.getElementById(method + '-button').classList.add('selected');
        }

        function executeSelectedPayment() {
            if (selectedPaymentMethod) {
                // 여기서 선택한 결제 방법에 따라 처리 로직을 추가하세요.
                switch (selectedPaymentMethod) {
                    case 'card':
                        pay('카드', jsons.card);
                        break;
                    case 'phone':
                        pay('휴대폰', jsons.phone);
                        break;
                    case 'certificate':
                        pay('상품권', jsons.certificate);
                        break;
                    case 'transfer':
                        pay('계좌이체', jsons.transfer);
                        break;
                    // 다른 결제 방법에 대한 처리도 추가할 수 있습니다.
                    default:
                        alert('해당 결제 방법에 대한 처리가 없습니다.');
                        break;
                }
            } else {
                alert('결제 방법을 먼저 선택해주세요.');
            }
        }

    </script>

    <script>
        let selectedAmount = null;

        function showPaymentPage(amount) {
            selectedAmount = amount;
            document.getElementById('selected-amount').style.display = 'block';
            document.getElementById('amount-label').textContent = selectedAmount + '원';
            document.getElementById('payment-page').style.display = 'block';
        }

        function closePaymentPage() {
            selectedAmount = null;
            document.getElementById('selected-amount').style.display = 'none';
            document.getElementById('amount-label').textContent = '';
            document.getElementById('payment-page').style.display = 'none';
        }

        function goBack() {
            window.history.back();  // 뒤로가기
        }

        let tossPayments = TossPayments("test_ck_KNbdOvk5rk4bBlO4DPv8n07xlzmj");

        function pay(method, requestJson) {
            if (selectedAmount !== null) {
                requestJson.amount = selectedAmount;
                console.log(requestJson);
                tossPayments.requestPayment(method, requestJson)
                    .catch(function (error) {
                        if (error.code === "USER_CANCEL") {
                            alert('결제를 취소했습니다.');
                        } else {
                            alert(error.message);
                        }
                    });
            } else {
                alert('결제 금액을 선택해주세요.');
            }
        }

        let path = "/";
        let successUrl = window.location.origin + path + "success";
        let failUrl = window.location.origin + path + "fail";
        let callbackUrl = window.location.origin + path + "va_callback";
        let orderId = new Date().getTime();

        let jsons = {
            "card": {
                "orderId": "sample-" + orderId,
                "orderName": "하트",
                "successUrl": successUrl,
                "failUrl": failUrl,
                "customerName": "더 큐피트"
            },
            "transfer": {
                "orderId": "sample-" + orderId,
                "orderName": "하트",
                "successUrl": successUrl,
                "failUrl": failUrl,
                "customerName": "더 큐피트"
            },
            "phone": {
                "orderId": "sample-" + orderId,
                "orderName": "하트",
                "successUrl": successUrl,
                "failUrl": failUrl
            },
            "certificate": {
                "orderId": "sample-" + orderId,
                "orderName": "하트",
                "successUrl": successUrl,
                "failUrl": failUrl
            }
        }

    </script>
</div>
</body>
</html>
