<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container my-3 ml-auto mr-auto">
    <div class="ml-auto mr-auto w-60 ">
        <form  class="imgForm ml-auto mr-auto" enctype="multipart/form-data" th:action="@{|/board/modify/${board.id}|}"  object="${boardForm}" method="post" >
            <button type="button" class="add-file-input mb-2 mt-2">
                 <i class="fa-solid fa-file-circle-plus fa-2xl"></i>
            </button>
            <div style=" display:table; width: 100%; ">
                <div class="current-img" style="display:table;">
                    <img  class="ex-current-img" th:src=" ${@rq.getImgs(board).get(0).filepath}" alt="">
                </div>
            </div>
            <div id="file-input-container">

                <!--            <input type="file" name="file" accept="image/*" class="image-file-input">-->

<!--                <input type="file" name="file">-->
                <input type="hidden" name="myArray" id="myArrayInput">
                <input type="hidden" name="myAddArray" id="myAddArrayInput">


            </div>
            <div class="image-preview-container" >
                <div class="column mt-4">

                    <div class="image-preview"  th:each="img, currentindex : ${@rq.getImgs(board)}">

                            <img class="ex-img" th:currentindex="${currentindex.count}" onclick="changeCurrentImg(this)" th:src="${img.filepath}" alt="">
                            <div class="cancelBtn fa-solid fa-xmark"  onclick="hideImagePreview(this)"></div>

                    </div>
                </div>
                <div class="scroll-btn-left scroll-btn" id="scroll-left"><i class="fa-solid fa-angle-up fa-rotate-270 fa-2xl"></i></div>   <div  class="scroll-btn scroll-btn-right" id="scroll-right"><i class="fa-solid fa-angle-up fa-rotate-90 fa-2xl"></i></div>

            </div>
            <textarea style="resize:none; " type="text" name="content" class="textarea textarea-secondary" placeholder="내용을 입력하세요" th:text="${board.content}"></textarea>

            <button type="submit" class="btn end-function block  "  onclick="onSubmitClick()"
                    style="display: block; margin-left:auto;  border-radius:10px; border :1px solid #f08dac; background-color :#f08dac">
                <span >수정</span>
            </button>

            <input class="hidden " name="key-kind" th:value="${keyKind}" type="text">

        </form>

    </div>


    <button onclick="SubmitClick()">dd</button>

</div>
</body>
</html>

<style>
    .ex-current-img {
        width:300px;
        height:300px;
        object-fit: contain;
    }



    .pre-img {
        position :absolute;
        top:50px;
        right:0;
    }


    .image-preview-container {
          width: calc(100%);
                  position:relative;

    }

     .column {
         display:flex;
           border:1px solid black;
           overflow: hidden;
        border-radius:10px;
              height:80px;
    }


    .column::-webkit-scrollbar {
      height: 10px;

}

.column::-webkit-scrollbar-thumb {
    border-radius: 5px; /* Rounded corners */
}

.column::-webkit-scrollbar-track {
    border-radius: 8px; /* Rounded track */
}

    .image-preview {
          position:relative;

            flex: 0 0 auto;

    }
    .ex-img {
             width:80px;
                height:80px;

            position:relative;
              border-radius:10px;
              border:1px solid black;
    }

      .cancelBtn {
        position:absolute;
        top:0;
        right:0;
        width:20px;
        height:20px;
        z-index:5;


    }

    .textarea{

        margin-top:20px;
       width:240px;

    }

    .scroll-btn-left{
        position:absolute;
        top:50%;

        left:-40px;
        transform:translate(0,-50%);
          padding:10px;

    }
    .scroll-btn-right{
        position:absolute;
        top:50%;
        right:-40px;
          transform:translate(0,-50%);
          padding:10px;



    }



</style>

<script>
    <!--파일 선택시 아무것도 안누르고 취소 하면 생기는 빈 input 태그 지우는 함수-->
        function removeEmptyFileInput() {
        var fileInputs = $('.image-file-input'); // Get all file input elements
        var imgPreview =$(".image-preview");
        var lastElement = imgPreview.last();
        if (fileInputs.length > 0) {
            var lastFileInput = fileInputs[fileInputs.length - 1]; // Get the last file input

            if (lastFileInput.files.length === 0 || lastFileInput.files[0].name === '') {
                lastFileInput.parentNode.removeChild(lastFileInput); // Remove the input if no file selected
                lastElement.remove();
                console.log('Removed empty file input.');
            } else {
                console.log('File found in the most recent input.');
            }
        } else {
            console.log('No file inputs found.');
        }
    }


</script>


<script>
<!--   테스트 용-->
    function SubmitClick(){
        indexExImgs();




    }

</script>

<script>
    var addImg = [];

     function indexExaddImgs() {

    var imgArrays = $(".image-file-input");

    imgArrays.each(function () {
     var currentIndex = $(this).attr('currentindex');
      console.log(currentIndex);
      addImg.push(currentIndex);
    });

console.log(addImg);
}

</script>

<script>

    var indexImg = [];

     function indexExImgs() {
     indexImg = [];
    var imgArrays = $(".ex-img");

    imgArrays.each(function () {
     var currentIndex = $(this).attr('currentindex');
      console.log(currentIndex);
      indexImg.push(currentIndex);
    });

console.log(indexImg);
}

</script>



<script >
    var inputToMove ;
    function reorderInputsByIndex() {

  // currentIndex를 기준으로 정렬된 input 요소들을 저장할 배열
  var sortedInputs = [];

  // currentIndexArray에 따라 순서를 정렬
  indexImg.forEach(function (currentIndex, index) {
    // 현재 currentIndex에 해당하는 input 요소를 찾아서 배열에 추가
     inputToMove = $('input[currentindex="' + currentIndex + '"]');
    console.log("현재 요소"+inputToMove.attr('currentindex'));
        sortedInputs.push(inputToMove);


  });
    $("#file-input-container").empty();

     $("#file-input-container").append(sortedInputs);


    }
</script>

<script>
    function onSubmitClick() {
     // 여기에 전송 전에 실행하고자 하는 로직을 추가하세요

        indexExImgs();

        indexExaddImgs();

         const jsonData = JSON.stringify(indexImg);
         const jsonData2 = JSON.stringify(addImg);

    // hidden input 필드에 JSON 데이터 설정
    document.getElementById('myArrayInput').value = jsonData;
     document.getElementById('myAddArrayInput').value = jsonData2;

                removeEmptyFileInput();
         var exImgValue = $('.ex-img'); // Replace 'ex-img' with your actual field ID or class

            if (exImgValue.length==0) {
               shouldSubmit = false;
                var proceed = confirm('Are you sure you want to submit without adding a photo?');
                                 event.preventDefault();

                if (!proceed) {

                shouldSubmit = false; // Update the variable to prevent form submission
                 event.preventDefault();
                     }
                }

            if(shouldSubmit){
                console.log("서버로 전송");

                $('.imgForm').submit();
                }

   }


</script>


<script>
    var currentIndex = $('.ex-img').length+1;
     var exImgs = $(".ex-img");
    $(document).ready(function() {

        var preImgContainer=$(".column");
        var currentImg=$(".current-img");

      // "파일 추가" 버튼 클릭 이벤트
      $(".add-file-input").click(function() {
<!--            $(".add-file-input").addClass("hidden");-->
                            removeEmptyFileInput();


          var fileInputContainer = $(this).prev(".image-file-input");
          var newFileInput = $("<input>", {
              type: "file",
              name: "file",
              accept: "image/**",
              class:  "image-file-input hidden",
              currentIndex
          });
          var newImagePreview = $("<div>", { class: "image-preview" });
          newFileInput.click();

          newFileInput.change(function() {
              var file = newFileInput[0].files[0];


                                <!--     파일추가시 보이는 부분 오른쪽 으로 가게하기-->
                 $('.column').animate({
                                scrollLeft: '+=300' // Adjust the scroll amount as needed
                            }, 'slow');

              if (file) {
                  var reader = new FileReader();

                  reader.onload = function(e) {
                      var previewImage = $("<img>", {
                        class:"ex-img" , onclick:"changeCurrentImg(this)" , draggable:"true", currentIndex
                       }) ;
                      previewImage.attr("src", e.target.result);

                      var cancelBtn =$("<div>", {class:"cancelBtn fa-solid fa-xmark",currentIndex   ,onclick:"hideImagePreview(this)"} );

                      currentIndex++;

                      var previewCurrentImage = $("<img>", {
                        class:"ex-current-img"
                       }) ;
                      previewCurrentImage.attr("src", e.target.result);
                      newImagePreview.empty().append(previewImage);
                      newImagePreview.append(cancelBtn);
                      currentImg.empty().append(previewCurrentImage);
                      exImgs = $(".ex-img");
                      console.log(exImgs);
                  };

                  reader.readAsDataURL(file);
                   $(" .image-file-input").addClass("hidden");
                      $(".add-file-input").removeClass("hidden");
              } else {
                  newImagePreview.empty();

              }
          });

          newFileInput.insertBefore($(this));
          preImgContainer.append(newImagePreview);


      });


  });

</script>

<script>


    function hideImagePreview(btn) {
       var imagePreview = btn.closest('.image-preview');
<!--                var exImg =  btn.nextElementSibling('.ex-img');-->
            indexExImgs();
<!--                let indexOfB = exImgs.indexOf(exImg);-->
       if (imagePreview) {

              var btnCurrentIndex = $(btn).attr('currentIndex');

            $('input[currentindex="' + btnCurrentIndex + '"]').remove();

               imagePreview.remove();
                exImgs = $(".ex-img");
<!--                        console.log(indexOfB);-->


             }
         }


</script>


<script>

    const columns = document.querySelectorAll(".column");

    columns.forEach((column) => {
        new Sortable(column, {
            group: "shared",
            animation: 150,
            ghostClass: "blue-background-class"

        });console.log("asd");
    });


</script>


<script>
    function changeCurrentImg(btn){
          var imgContent= $(btn).attr('src');


           $('.ex-current-img').attr('src',imgContent);



    }
</script>

<script>
    $(document).ready(function() {
        $('#scroll-left').on('click', function() {
            $('.column').animate({
                scrollLeft: '-=100' // Adjust the scroll amount as needed
            }, 'slow');
        });

        $('#scroll-right').on('click', function() {
            $('.column').animate({
                scrollLeft: '+=100' // Adjust the scroll amount as needed
            }, 'slow');
        });
    });
</script>
