<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="ml-auto mr-auto w-60 ">
            <form  enctype="multipart/form-data" th:action="@{/board/create}"  object="${boardForm}" method="post" >
                <div>이미지 넣기</div>
                <div class="current-img"></div>
                <div id="file-input-container">

        <!--            <input type="file" name="file" accept="image/*" class="image-file-input">-->

                    <button type="button" class="add-file-input">파일 추가</button>
                </div>
                <div class="pre-img">


                </div>


                <div>제목</div>
                <input type="text" name="subject">
                <div>내용</div>
                <input type="text" name="content">

                <button type="submit">작성 완료</button>



            </form>

    </div>




</div>
</body>
</html>

<style>
    .ex-current-img {
        width:300px;
        height:300px;

    }


   .ex-img {
        width:80px;
        height:80px;

    }
    .pre-img {
        position :absolute;
        top:50px;
        right:0;
    }

    .image-preview {
        position:relative;

    }

    .cancelBtn {
        position:absolute;
        top:0;
        right:0;
        background-color:red;
        width:20px;
        height:20px;


    }
</style>

<script>
    $(document).ready(function() {
        var preImgContainer=$(".pre-img");
        var currentImg=$(".current-img");
        var currentIndex=1;
      // "파일 추가" 버튼 클릭 이벤트
      $(".add-file-input").click(function() {
            $(".add-file-input").addClass("hidden");

          var fileInputContainer = $(this).prev(".image-file-input");
          var newFileInput = $("<input>", {
              type: "file",
              name: "file",
              accept: "image/**",
              class:  "image-file-input",
              currentIndex
          });
            newFileInput.attr("id","currentIndex"+currentIndex);
          var newImagePreview = $("<div>", { class: "image-preview" });

          newFileInput.change(function() {
              var file = newFileInput[0].files[0];

              if (file) {
                  var reader = new FileReader();

                  reader.onload = function(e) {
                      var previewImage = $("<img>", {
                        class:"ex-img"
                       }) ;
                      previewImage.attr("src", e.target.result);

                      var cancelBtn =$("<div>", {class:"cancelBtn",currentIndex   ,onclick:"hideImagePreview(this)"} );
                       cancelBtn.attr("id","currentIndex"+currentIndex);

                      currentIndex++;

                      var previewCurrentImage = $("<img>", {
                        class:"ex-current-img"
                       }) ;
                      previewCurrentImage.attr("src", e.target.result);
                      newImagePreview.empty().append(previewImage);
                      newImagePreview.append(cancelBtn);
                      currentImg.empty().append(previewCurrentImage);
                  };

                  reader.readAsDataURL(file);
                   $(" .image-file-input").addClass("hidden");
                      $(".add-file-input").removeClass("hidden");
              } else {
                  newImagePreview.empty();

              }
          });

          newFileInput.insertBefore($(this));
          preImgContainer.append(newImagePreview);
      });


  });

</script>

<script>
    function hideImagePreview(btn) {
       // Find the parent .image-preview and hide it
       var imagePreview = btn.closest('.image-preview');
       if (imagePreview) {


        // Remove the input with the same ID
               var btnCurrentIndex = $(btn).attr('currentIndex');

        // Remove the input with the same currentIndex attribute elsewhere in the document
        $('input[currentIndex="' + btnCurrentIndex + '"]').remove();

           imagePreview.remove();

       }
   }


</script>



<script>

<!--    $(document).ready(function() {-->
<!--     // 파일 입력 필드와 이미지 미리보기 요소 참조-->
<!--     var imageFileInput = $(".image-file-input");-->
<!--     var imagePreview = $(".image-preview");-->

<!--     $('.add-file-input').addClass("hidden");-->

<!--     // 파일 입력 필드의 변경 이벤트 처리-->
<!--     imageFileInput.change(function() {-->
<!--         var file = imageFileInput[0].files[0];-->

<!--         if (file) {-->
<!--             // FileReader 객체를 사용하여 이미지 미리보기 생성-->
<!--             var reader = new FileReader();-->

<!--             reader.onload = function(e) {-->
<!--                 // 미리보기 이미지 업데이트-->
<!--                 var previewImage = $("<img>" , {-->
<!--                        class:"ex-img"-->
<!--                       });-->
<!--                 previewImage.attr("src", e.target.result);-->
<!--                 imagePreview.empty().append(previewImage);-->
<!--             };-->

<!--             // 파일을 읽고 미리보기 데이터 URL을 생성-->
<!--                reader.readAsDataURL(file);-->
<!--                     $('.add-file-input').removeClass("hidden");-->
<!--                      $(" .image-file-input").addClass("hidden");-->



<!--         } else {-->
<!--             // 파일이 선택되지 않았을 때 미리보기 제거-->
<!--             imagePreview.empty();-->


<!--         }-->
<!--     });-->
<!-- });-->
</script>