<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">

    <form  enctype="multipart/form-data" th:action="@{/board/create}"  object="${boardForm}" method="post" >
        <div>이미지 넣기</div>
        <div id="file-input-container">
            <input type="file" name="file" accept="image/*" class="image-file-input">
            <div class="image-preview"></div>

        <button type="button" class="add-file-input">파일 추가</button>
        <div>제목</div>
        <input type="text" name="subject">
        <div>내용</div>
        <input type="text" name="content">

        <button type="submit">작성 완료</button>



    </form>
<!--    <form enctype="multipart/form-data" th:action="@{/board/create}" object="${boardForm}" method="post">-->
<!--        <div>이미지 넣기</div>-->
<!--        <input type="file" name="file" accept="image/*" multiple>-->
<!--        &lt;!&ndash; 'multiple' 속성을 추가하여 여러 파일 선택 가능 &ndash;&gt;-->

<!--        <div>제목</div>-->
<!--        <input type="text" name="subject">-->
<!--        <div>내용</div>-->
<!--        <input type="text" name="content">-->

<!--        <button type="submit">작성 완료</button>-->
<!--    </form>-->





</div>
</body>
</html>

<script >


</script>

<script>
    $(document).ready(function() {
      // "파일 추가" 버튼 클릭 이벤트
      $(".add-file-input").click(function() {
          var fileInputContainer = $(this).prev(".image-file-input");
          var newFileInput = $("<input>", {
              type: "file",
              name: "file",
              accept: "image/**",
              class: "image-file-input"
          });
          var newImagePreview = $("<div>", { class: "image-preview" });

          newFileInput.change(function() {
              var file = newFileInput[0].files[0];

              if (file) {
                  var reader = new FileReader();

                  reader.onload = function(e) {
                      var previewImage = $("<img>");
                      previewImage.attr("src", e.target.result);
                      newImagePreview.empty().append(previewImage);
                  };

                  reader.readAsDataURL(file);
                   $(" .image-file-input").addClass("hidden");
              } else {
                  newImagePreview.empty();
              }
          });

          newFileInput.insertBefore($(this));
          newImagePreview.insertAfter(newFileInput);
      });

      // 페이지 로드 시 이미 선택된 파일이 있는지 확인
      $(".image-file-input").each(function() {
          var fileInput = $(this);
          var imagePreview = fileInput.next(".image-preview");
          var file = fileInput[0].files[0];

          if (file) {
              var reader = new FileReader();

              reader.onload = function(e) {
                  var previewImage = $("<img>");
                  previewImage.attr("src", e.target.result);
                  imagePreview.empty().append(previewImage);
              };

              reader.readAsDataURL(file);
          }
      });
  });

</script>

<script>

    $(document).ready(function() {
     // 파일 입력 필드와 이미지 미리보기 요소 참조
     var imageFileInput = $(".image-file-input");
     var imagePreview = $(".image-preview");

     // 파일 입력 필드의 변경 이벤트 처리
     imageFileInput.change(function() {
         var file = imageFileInput[0].files[0];

         if (file) {
             // FileReader 객체를 사용하여 이미지 미리보기 생성
             var reader = new FileReader();

             reader.onload = function(e) {
                 // 미리보기 이미지 업데이트
                 var previewImage = $("<img>");
                 previewImage.attr("src", e.target.result);
                 imagePreview.empty().append(previewImage);
             };

             // 파일을 읽고 미리보기 데이터 URL을 생성
             reader.readAsDataURL(file);
               $(" .image-file-input").addClass("hidden");
         } else {
             // 파일이 선택되지 않았을 때 미리보기 제거
             imagePreview.empty();
         }
     });
 });
</script>