<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>회원탈퇴</title>
</head>
<body>
<div layout:fragment="content">

    <form id="deleteForm" th:action="@{/user/delete}" method="post" onsubmit="submitDeleteForm(this); return false;"
          class="mt-5">
        <div class="form-group sece-box d-flex align-items-center">
            <label class="font-weight-bold mr-3" style="font-size: 20px;">아이디</label>
            <div th:text="${siteUser.username}" class="font-weight-bold"></div>
        </div>

        <div class="form-group sece-box">
            <label for="password" class="font-weight-bold" style="font-size: 20px;">비밀번호 입력</label>
            <input type="password" id="password" name="password" class="form-control" style="height: 50px;">
        </div>

        <!-- 오류 메시지 표시 부분 -->
        <div th:if="${error}" class="text-danger">
            <p th:text="${error}"></p>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4" style="border-radius: 10px;">
            탈퇴하기
        </button>

        <button onclick="window.location.href='/user/myPage'" class="btn btn-secondary btn-block mt-3"
                style="border-radius: 10px;">
            취소
        </button>
    </form>
    <!-- 모달 창 -->
    <dialog id="confirmationModal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="modal-title">회원탈퇴 확인</h3>
            <div class="modal-action">
                <div>
                    <button class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
                <div>
                    <button class="btn btn-primary" id="confirmDeleteButton">확인</button>
                </div>
            </div>
        </div>
    </dialog>

    <script>
        let submitDeleteFormDone = false;
        function submitDeleteForm(form) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            if (submitDeleteFormDone) return;

            form.password.value = form.password.value.trim();

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            $.ajax({
                url: '/user/checkLoginPw',
                type: 'POST',
                data: 'userPassword=' + form.password.value,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function(response) {
                    console.log("확인");

                    if (confirm('정말 탈퇴하시겠습니까?')) {

                        form.submit();
                        submitDeleteFormDone = true;

                        alert("탈퇴가 완료되었습니다.");
                        return false;
                    }
                },
                error: function(error) {
                    console.log("error:", error);
                    toastWarning(error.responseText);
                }
            });
        }
    </script>
    <div th:include="common/menu.html" class="tap_bar"></div>
    <style>
        .tap_bar {
            position: fixed;
            width: 100%;
            bottom : 0;
        }
    </style>
</div>
</body>
</html>