<!DOCTYPE html>
<html layout:decorate="~{/common/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/user/desired/' + ${userId}}" th:object="${userDesiredForm}" method="post">
    <div class="mb-3">
        <label for="desired_age" class="form-label">이상형 나이</label>
        <input type="number" th:field="*{desired_age}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="desired_living" class="form-label">원하는 지역</label>
        <input type="text" th:field="*{desired_living}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="desired_hobby" class="form-label">이상형 취미</label>
        <input type="text" th:field="*{desired_hobby}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="desired_tall" class="form-label">이상형 키</label>
        <input type="number" th:field="*{desired_tall}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="desired_body_type" class="form-label">이상형 체형</label>
        <input type="text" th:field="*{desired_body_type}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="desired_smoking" class="form-label">이상형 흡연 유무</label>
        <input type="text" th:field="*{desired_smoking}" class="form-check-input">
    </div>
    <div class="mb-3">
        <label for="desired_drinking" class="form-label">이상형 음주 유무</label>
        <input type="text" th:field="*{desired_drinking}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="desired_style" class="form-label">이상형 스타일</label>
        <input type="text" th:field="*{desired_style}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="desired_religion" class="form-label">이상형 종교</label>
        <input type="text" th:field="*{desired_religion}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="desired_mbti" class="form-label">이상형 mbti</label>
        <input type="text" th:field="*{desired_mbti}" class="form-control">
    </div>
    <input type="submit" value="회원가입" class="btn btn-primary my-2">
</form>
</body>
</html>