<!DOCTYPE html>
<html layout:decorate="~{/common/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="flex-1 flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-user-plus"></i>
            이상형 설정
        </h1>

        <script>
            let submitJoinFormDone = false;
            function submitJoinForm(form) {
                if (submitJoinFormDone) return;

                form.age.value = form.age.value.trim();

                if (form.age.value.length == 0) {
                    form.age.focus();
                    alert('나이를 입력해주세요.');
                    return;
                }

                form.hobby.value = form.hobby.value.trim();

                if (form.hobby.value.length == 0) {
                    form.hobby.focus();
                    alert('취미를 입력해주세요.');
                    return;
                }

                form.tall.value = form.tall.value.trim();

                if (form.tall.value.length == 0) {
                    form.tall.focus();
                    alert('키를 입력해주세요.');
                    return;
                }

                form.style.value = form.style.value.trim();

                if (form.style.value.length == 0) {
                    form.style.focus();
                    alert('스타일을 입력해주세요.');
                    return;
                }

                form.submit();
                submitJoinFormDone = true;
            }
        </script>

        <form th:action="@{'/user/desired/' + ${userId}}" th:object="${userDesiredForm}" method="post" onsubmit="submitJoinForm(this); return false;" class="flex flex-col gap-6">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">원하는 나이</span>
                </label>
                <select name="desired_age" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="20~22">20~22</option>
                    <option value="23~25">23~25</option>
                    <option value="26~28">26~28</option>
                    <option value="29~31">29~31</option>
                    <option value="32~35">32~35</option>
                    <option value="36~38">36~38</option>
                    <option value="39~44">39~44</option>
                    <option value="45~49">45~49</option>
                    <option value="50이상">50이상</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">원하는 지역</span>
                </label>
                <select name="desired_living" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="서울">서울</option>
                    <option value="인천">인천</option>
                    <option value="경기">경기</option>
                    <option value="대전">대전</option>
                    <option value="대구">대구</option>
                    <option value="부산">부산</option>
                    <option value="강원">강원</option>
                    <option value="광주">광주</option>
                    <option value="울산">울산</option>
                    <option value="경남">경남</option>
                    <option value="경북">경북</option>
                    <option value="전남">전남</option>
                    <option value="전북">전북</option>
                    <option value="제주">제주</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이상형 취미</span>
                </label>
                <input type="text" name="desired_hobby" placeholder="이상형 취미" class="input input-bordered" maxlength="255">
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이상형 키</span>
                </label>
                <select name="desired_tall" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="160cm이하">160cm이하</option>
                    <option value="161cm~165cm">161cm~165cm</option>
                    <option value="166cm~170cm">166cm~170cm</option>
                    <option value="171cm~175cm">171cm~175cm</option>
                    <option value="176cm~180cm">176cm~180cm</option>
                    <option value="181cm~185cm">181cm~185cm</option>
                    <option value="186cm~190cm">186cm~190cm</option>
                    <option value="191cm이상">191cm이상</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이상형 체형</span>
                </label>
                <select name="desired_body_type" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="슬림한">슬림한</option>
                    <option value="평범한">평범한</option>
                    <option value="통통한">통통한</option>
                    <option value="근육질">근육질</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이상형 흡연유무</span>
                </label>
                <select name="desired_smoking" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="된다">된다</option>
                    <option value="안된다">안된다</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이상형 음주</span>
                </label>
                <select name="desired_drinking" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="된다">된다</option>
                    <option value="안된다">안된다</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이상형 스타일</span>
                </label>
                <input type="text" name="desired_style" placeholder="이상형 스타일" class="input input-bordered" maxlength="255">
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이상형 종교</span>
                </label>
                <select name="desired_religion" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="무교">무교</option>
                    <option value="불교">불교</option>
                    <option value="천주교">천주교</option>
                    <option value="기독교">기독교</option>
                    <option value="이슬람교">이슬람교</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">MBTI</span>
                </label>
                <select name="desired_mbti" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="ISTJ">ISTJ</option>
                    <option value="ISFJ">ISFJ</option>
                    <option value="INFJ">INFJ</option>
                    <option value="INTJ">INTJ</option>
                    <option value="ISTP">ISTP</option>
                    <option value="ISFP">ISFP</option>
                    <option value="INFP">INFP</option>
                    <option value="INTP">INTP</option>
                    <option value="ESTP">ESTP</option>
                    <option value="ESFP">ESFP</option>
                    <option value="ENFP">ENFP</option>
                    <option value="ENTP">ENTP</option>
                    <option value="ESTJ">ESTJ</option>
                    <option value="ESFJ">ESFJ</option>
                    <option value="ENFJ">ENFJ</option>
                    <option value="ENTJ">ENTJ</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">학력</span>
                </label>
                <select name="desired_school" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="고교 졸업 이하">고교 졸업 이하</option>
                    <option value="고등학교 졸업">고등학교 졸업</option>
                    <option value="대학 졸업(2,3년제)">대학 졸업(2,3년제)</option>
                    <option value="대학교 졸업(4년제)">대학교 졸업(4년제)</option>
                    <option value="대학원 석사 졸업">대학원 석사 졸업</option>
                    <option value="대학원 박사 졸업">대학원 박사 졸업</option>
                    <option value="박사 졸업 이상">박사 졸업 이상</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">직장</span>
                </label>
                <select name="desired_job" class="input input-bordered">
                    <option value="상관없음" selected>상관없음</option>
                    <option value="공무원">공무원</option>
                    <option value="학생">학생</option>
                    <option value="군인">군인</option>
                    <option value="무직">무직</option>
                    <option value="준비중">준비중</option>
                </select>
            </div>

            <div>
                <button class="btn btn-block btn-primary gap-1">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>회원가입 완료</span>
                </button>

                <div class="text-center">
                    <button class="btn btn-link">로그인</button>
                    <button class="btn btn-link">아이디 찾기</button>
                    <button class="btn btn-link">비밀번호 찾기</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>