<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>이상형 설정 수정하기</title>
</head>
<body>
<div layout:fragment="content" class="flex-1 flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <form th:action="@{/user/desired_modify}" th:object="${userDesiredForm}" method="post"
              class="flex flex-col gap-6"
              style="margin-bottom:40px;">
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">나이 설정</span>
                    <span>(숫자만 입력해주세요.)</span>
                </label>
                <div>
                    <span>
                    <input type="text" name="desired_age1" placeholder="최소" class="input input-bordered input-secondary"
                           maxlength="30"
                           pattern="[0-9]*" th:field="*{desired_age1}">
                </span>
                    <span>~</span>
                    <span>
                <input type="text" name="desired_age2" placeholder="최대" class="input input-bordered input-secondary"
                       maxlength="30"
                       pattern="[0-9]*" th:field="*{desired_age2}">
                </span>
                </div>
            </div>

            <div class="form-control">

                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">원하는 지역</span>
                    </label>
                    <select name="desired_living" class="input input-bordered input-secondary"
                            th:field="*{desired_living}">
                        <option value="상관없음" selected>상관없음</option>
                        <option value="서울">서울</option>
                        <option value="인천">인천</option>
                        <option value="경기도">경기도</option>
                        <option value="대전">대전</option>
                        <option value="세종시">세종시</option>
                        <option value="대구">대구</option>
                        <option value="부산">부산</option>
                        <option value="강원">강원</option>
                        <option value="광주">광주</option>
                        <option value="울산">울산</option>
                        <option value="강원도">강원도</option>
                        <option value="충청남도">충청남도</option>
                        <option value="충청북도">충청북도</option>
                        <option value="경상남도">경상남도</option>
                        <option value="경상북도">경상북도</option>
                        <option value="전라남도">전라남도</option>
                        <option value="전라북도">전라북도</option>
                        <option value="제주도">제주도</option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">키 설정</span>
                        <span>(숫자만 입력해주세요.)</span>
                    </label>
                    <div>
                    <span>
                        <input type="text" name="desired_tall1" placeholder="최소"
                               class="input input-bordered input-secondary" maxlength="30"
                               pattern="[0-9]*" th:field="*{desired_tall1}">
                    </span>
                        <span>~</span>
                        <span>
                        <input type="text" name="desired_tall2" placeholder="최대"
                               class="input input-bordered input-secondary" maxlength="30"
                               pattern="[0-9]*" th:field="*{desired_tall2}">
                    </span>
                    </div>
                </div>


                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">이상형 체형</span>
                    </label>
                    <select name="desired_body_type" class="input input-bordered input-secondary"
                            th:field="*{desired_body_type}">
                        <option value="상관없음" selected>상관없음</option>
                        <option value="마른">마른</option>
                        <option value="슬림한">슬림한</option>
                        <option value="평범한">평범한</option>
                        <option value="탄탄한">탄탄한</option>
                        <option value="통통한">통통한</option>
                        <option value="근육질">근육질</option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">이상형 흡연유무</span>
                    </label>
                    <select name="desired_smoking" class="input input-bordered input-secondary"
                            th:field="*{desired_smoking}">
                        <option value="상관없음" selected>상관없음</option>
                        <option value="비흡연">비흡연</option>
                        <option value="가끔">가끔</option>
                        <option value="자주">자주</option>
                        <option value="매일">매일</option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">이상형 음주</span>
                    </label>
                    <select name="desired_drinking" class="input input-bordered input-secondary"
                            th:field="*{desired_drinking}">
                        <option value="상관없음" selected>상관없음</option>
                        <option value="전혀 안함">전혀 안함</option>
                        <option value="가끔">가끔</option>
                        <option value="자주">자주</option>
                        <option value="매일">매일</option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">이상형 스타일</span>
                        <span>최대 8개까지 선택가능합니다.</span>
                    </label>
                    <div class="grid grid-cols-3 gap-4 border border-pink-600 rounded-lg justify-items-center">
                        <div class="col-span-1">
                            <input id="input_chw_1" type="checkbox" name="desired_styleList" value="예쁘고 잘생긴"
                                   style="display: none;">
                            <label for="input_chw_1" class="checkbox-label">예쁘고 잘생긴</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_2" type="checkbox" name="desired_styleList" value="옷 잘 입는"
                                   style="display: none;">
                            <label for="input_chw_2" class="checkbox-label">옷 잘 입는</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_3" type="checkbox" name="desired_styleList" value="듬직한"
                                   style="display: none;">
                            <label for="input_chw_3" class="checkbox-label">듬직한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_4" type="checkbox" name="desired_styleList" value="아담한"
                                   style="display: none;">
                            <label for="input_chw_4" class="checkbox-label">아담한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_5" type="checkbox" name="desired_styleList" value="연상"
                                   style="display: none;">
                            <label for="input_chw_5" class="checkbox-label">연상</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_6" type="checkbox" name="desired_styleList" value="연하"
                                   style="display: none;">
                            <label for="input_chw_6" class="checkbox-label">연하</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_7" type="checkbox" name="desired_styleList" value="동갑"
                                   style="display: none;">
                            <label for="input_chw_7" class="checkbox-label">동갑</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_8" type="checkbox" name="desired_styleList" value="같은 동네"
                                   style="display: none;">
                            <label for="input_chw_8" class="checkbox-label">같은 동네</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_9" type="checkbox" name="desired_styleList" value="취미가 같은"
                                   style="display: none;">
                            <label for="input_chw_9" class="checkbox-label">취미가 같은</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_10" type="checkbox" name="desired_styleList" value="말이 통하는"
                                   style="display: none;">
                            <label for="input_chw_10" class="checkbox-label">말이 통하는</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_11" type="checkbox" name="desired_styleList" value="잘 웃어주는"
                                   style="display: none;">
                            <label for="input_chw_11" class="checkbox-label">잘 웃어주는</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_12" type="checkbox" name="desired_styleList" value="욕 안하는"
                                   style="display: none;">
                            <label for="input_chw_12" class="checkbox-label">욕 안하는</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_13" type="checkbox" name="desired_styleList" value="목소리 좋은"
                                   style="display: none;">
                            <label for="input_chw_13" class="checkbox-label">목소리 좋은</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_14" type="checkbox" name="desired_styleList" value="먼저 말 거는"
                                   style="display: none;">
                            <label for="input_chw_14" class="checkbox-label">먼저 말 거는</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_15" type="checkbox" name="desired_styleList" value="애교가 넘치는"
                                   style="display: none;">
                            <label for="input_chw_15" class="checkbox-label">애교가 넘치는</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_16" type="checkbox" name="desired_styleList" value="조용한"
                                   style="display: none;">
                            <label for="input_chw_16" class="checkbox-label">조용한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_17" type="checkbox" name="desired_styleList" value="활발한"
                                   style="display: none;">
                            <label for="input_chw_17" class="checkbox-label">활발한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_18" type="checkbox" name="desired_styleList" value="어른스러운"
                                   style="display: none;">
                            <label for="input_chw_18" class="checkbox-label">어른스러운</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_19" type="checkbox" name="desired_styleList" value="열정적인"
                                   style="display: none;">
                            <label for="input_chw_19" class="checkbox-label">열정적인</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_20" type="checkbox" name="desired_styleList" value="침착한"
                                   style="display: none;">
                            <label for="input_chw_20" class="checkbox-label">침착한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_21" type="checkbox" name="desired_styleList" value="예의 바른"
                                   style="display: none;">
                            <label for="input_chw_21" class="checkbox-label">예의 바른</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_22" type="checkbox" name="desired_styleList" value="또라이 같은"
                                   style="display: none;">
                            <label for="input_chw_22" class="checkbox-label">또라이 같은</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_23" type="checkbox" name="desired_styleList" value="유머러스한"
                                   style="display: none;">
                            <label for="input_chw_23" class="checkbox-label">유머러스한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_24" type="checkbox" name="desired_styleList" value="진지한"
                                   style="display: none;">
                            <label for="input_chw_24" class="checkbox-label">진지한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_25" type="checkbox" name="desired_styleList" value="자신감 넘치는"
                                   style="display: none;">
                            <label for="input_chw_25" class="checkbox-label">자신감 넘치는</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_26" type="checkbox" name="desired_styleList" value="허세 없는"
                                   style="display: none;">
                            <label for="input_chw_26" class="checkbox-label">허세 없는</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_27" type="checkbox" name="desired_styleList" value="엉뚱한"
                                   style="display: none;">
                            <label for="input_chw_27" class="checkbox-label">엉뚱한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_28" type="checkbox" name="desired_styleList" value="지적인"
                                   style="display: none;">
                            <label for="input_chw_28" class="checkbox-label">지적인</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_29" type="checkbox" name="desired_styleList" value="성실한"
                                   style="display: none;">
                            <label for="input_chw_29" class="checkbox-label">성실한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_30" type="checkbox" name="desired_styleList" value="자유로운"
                                   style="display: none;">
                            <label for="input_chw_30" class="checkbox-label">자유로운</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_31" type="checkbox" name="desired_styleList" value="감성적인"
                                   style="display: none;">
                            <label for="input_chw_31" class="checkbox-label">감성적인</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_32" type="checkbox" name="desired_styleList" value="꼼꼼한"
                                   style="display: none;">
                            <label for="input_chw_32" class="checkbox-label">꼼꼼한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_33" type="checkbox" name="desired_styleList" value="논리적인"
                                   style="display: none;">
                            <label for="input_chw_33" class="checkbox-label">논리적인</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_34" type="checkbox" name="desired_styleList" value="즉흥적인"
                                   style="display: none;">
                            <label for="input_chw_34" class="checkbox-label">즉흥적인</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_35" type="checkbox" name="desired_styleList" value="소심한"
                                   style="display: none;">
                            <label for="input_chw_35" class="checkbox-label">소심한</label>
                        </div>
                        <div class="col-span-1">
                            <input id="input_chw_36" type="checkbox" name="desired_styleList" value="쿨한"
                                   style="display: none;">
                            <label for="input_chw_36" class="checkbox-label">쿨한</label>
                        </div>
                    </div>
                </div>
                <script>
                    const maxSelections = 8;
                        const checkboxes = document.querySelectorAll('input[name="desired_styleList"]');
                        checkboxes.forEach((checkbox) => {
                            checkbox.addEventListener('change', function () {
                                let checkedCount = document.querySelectorAll('input[name="desired_styleList"]:checked').length;
                                if (checkedCount > maxSelections) {
                                    this.checked = false;
                                }
                            });
                        });
                </script>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">이상형 종교</span>
                    </label>
                    <select name="desired_religion" class="input input-bordered input-secondary"
                            th:field="*{desired_religion}">
                        <option value="상관없음" selected>상관없음</option>
                        <option value="무교">무교</option>
                        <option value="불교">불교</option>
                        <option value="천주교">천주교</option>
                        <option value="기독교">기독교</option>
                        <option value="원불교">원불교</option>
                        <option value="이슬람교">이슬람교</option>
                        <option value="기타">기타</option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">MBTI</span>
                    </label>
                    <select name="desired_mbti" class="input input-bordered input-secondary" th:field="*{desired_mbti}">
                        <option value="상관없음" selected>상관없음</option>
                        <option value="ISTJ">ISTJ</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INTJ">INTJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="ISFP">ISFP</option>
                        <option value="INFP">INFP</option>
                        <option value="INTP">INTP</option>
                        <option value="ESTP">ESTP</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ESTJ">ESTJ</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENTJ">ENTJ</option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">최종 졸업 또는 재학 중인 학교</span>
                    </label>
                    <select name="desired_school" class="input input-bordered input-secondary"
                            th:field="*{desired_school}">
                        <option value="상관없음" selected>상관없음</option>
                        <option value="고교 졸업 이하">고교 졸업 이하</option>
                        <option value="고등학교 졸업">고등학교 졸업</option>
                        <option value="전문 대학교">전문 대학교</option>
                        <option value="대학교 재학">대학교 재학</option>
                        <option value="외국어대학교">외국어대학교</option>
                        <option value="대학교 졸업">대학교 졸업</option>
                        <option value="대학교 수료">대학교 수료</option>
                        <option value="유학생">유학생</option>
                        <option value="대학원">대학원</option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text" style="font-size: 18px; font-weight: bold;">직장</span>
                    </label>
                    <select name="desired_job" class="input input-bordered input-secondary" th:field="*{desired_job}">
                        <option value="상관없음" selected>상관없음</option>
                        <option value="공무원">공무원</option>
                        <option value="학생">학생</option>
                        <option value="군인">군인</option>
                        <option value="아르바이트">아르바이트</option>
                        <option value="프리랜서">프리랜스</option>
                        <option value="회사원">회사원</option>
                        <option value="자영업">자영업</option>
                        <option value="전문직">전문직</option>
                        <option value="의료직">의료직</option>
                        <option value="교육직">교육직</option>
                        <option value="금융직">금융직</option>
                        <option value="연구,기술직">연구,기술직</option>
                        <option value="사업가">사업가</option>
                        <option value="취업준비중">취업준비중</option>
                        <option value="기타">기타</option>
                    </select>
                </div>

                <div>
                    <button type="submit" class="btn"
                            style="padding:0 145px; border-radius:10px; border :1px solid #f08dac; background-color :#f08dac">
                        <span>수정하기</span>
                    </button>
                </div>
                <style>
                    input:checked + label {
                color: purple;
                font-weight: bold;
            }
                </style>
        </form>
    </div>
    <div th:include="common/menu.html" class="tap_bar"></div>
    <style>
        .tap_bar {
                    position: fixed;
                    width: 100%;
                    bottom : 0;
                }
    </style>
</div>
</body>
</html>