<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<div layout:fragment="content">
    <div class="my-3 border rounded border-gray-300" style="max-width: 400px; margin: 0 auto; padding: 20px;">
        <form th:action="@{/user/passwordChange}" method="post" style="margin-top: 50px;">
            <div style="margin-bottom: 15px;">
                <label for="password" style="display: block; font-weight: bold;">현재 비밀번호:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div style="margin-bottom: 15px;">
                <label for="newPassword" style="display: block; font-weight: bold;">새 비밀번호:</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required>
            </div>
            <div style="margin-bottom: 15px;">
                <label for="confirmPassword" style="display: block; font-weight: bold;">새 비밀번호 확인:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
            </div>
            <div>
                <input type="submit" value="비밀번호 변경" class="btn btn-primary">
            </div>
        </form>
        <div th:if="${error}" style="color: red; margin-top: 15px; text-align: center;">
            <p th:text="${error}"></p>
        </div>
    </div>
    <div th:include="common/menu.html" class="tap_bar"></div>
    <style>
        .tap_bar {
                position: fixed;
                width: 100%;
                bottom : 0;
            }
    </style>
</div>

</body>
</html>