<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <form th:action="@{/user/passwordChange}" method="post" style="margin-top: 300px !important;">
            <div>
                <label for="Password">현재 비밀번호:</label>
                <input type="text" id="password" name="password" required>
            </div>
            <div>
                <label for="newPassword">새 비밀번호:</label>
                <input type="text" id="newPassword" name="newPassword" required>
            </div>
            <div>
                <label for="confirmPassword">새 비밀번호 확인:</label>
                <input type="text" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div>
                <input type="submit" value="비밀번호 변경">
            </div>
        </form>
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>