<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로필 수정하기</title>
</head>
<body>
<div layout:fragment="content" class="flex-1 flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <form th:action="@{/user/profile_modify}" th:object="${userAddForm}" method="post" class="flex flex-col gap-6" style="margin-bottom:40px;">
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">나이</span>
                    <span>(숫자만 입력해주세요.)</span>
                </label>
                <input type="text" name="age" placeholder="나이" class="input input-bordered input-secondary" maxlength="30"
                       pattern="[0-9]*" th:field="*{age}">
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">지역</span>
                </label>
                <select name="living" class="input input-bordered input-secondary" th:field="*{living}">
                    <option value="서울">서울</option>
                    <option value="인천">인천</option>
                    <option value="경기도">경기도</option>
                    <option value="대전">대전</option>
                    <option value="세종시">세종시</option>
                    <option value="대구">대구</option>
                    <option value="부산">부산</option>
                    <option value="강원">강원</option>
                    <option value="광주">광주</option>
                    <option value="울산">울산</option>
                    <option value="강원도">강원도</option>
                    <option value="충청남도">충청남도</option>
                    <option value="충청북도">충청북도</option>
                    <option value="경상남도">경상남도</option>
                    <option value="경상북도">경상북도</option>
                    <option value="전라남도">전라남도</option>
                    <option value="전라북도">전라북도</option>
                    <option value="제주도">제주도</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">취미</span>
                    <span>최대 8개까지만 선택가능합니다.</span>
                </label>
                <div class="grid grid-cols-3 gap-4 border border-pink-600 rounded-lg justify-items-center">
                    <div class="col-span-1">
                        <input id="input_ch_1" type="checkbox" name="hobbyList" value="헬스" style="display: none;">
                        <label for="input_ch_1">헬스</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_2" type="checkbox" name="hobbyList" value="배드민턴" style="display: none;">
                        <label for="input_ch_2">배드민턴</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_3" type="checkbox" name="hobbyList" value="골프" style="display: none;">
                        <label for="input_ch_3">골프</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_4" type="checkbox" name="hobbyList" value="산책" style="display: none;">
                        <label for="input_ch_4">산책</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_5" type="checkbox" name="hobbyList" value="필라테스/요가"
                               style="display: none;">
                        <label for="input_ch_5">필라테스/요가</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_6" type="checkbox" name="hobbyList" value="홈트" style="display: none;">
                        <label for="input_ch_6">홈트</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_7" type="checkbox" name="hobbyList" value="클라이밍" style="display: none;">
                        <label for="input_ch_7">클라이밍</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_8" type="checkbox" name="hobbyList" value="자전거 라이딩"
                               style="display: none;">
                        <label for="input_ch_8">자전거 라이딩</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_9" type="checkbox" name="hobbyList" value="볼링" style="display: none;">
                        <label for="input_ch_9">볼링</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_10" type="checkbox" name="hobbyList" value="당구" style="display: none;">
                        <label for="input_ch_10">당구</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_11" type="checkbox" name="hobbyList" value="댄스" style="display: none;">
                        <label for="input_ch_11">댄스</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_12" type="checkbox" name="hobbyList" value="등산" style="display: none;">
                        <label for="input_ch_12">등산</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_13" type="checkbox" name="hobbyList" value="스포츠 시청"
                               style="display: none;">
                        <label for="input_ch_13">스포츠 시청</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_14" type="checkbox" name="hobbyList" value="영화" style="display: none;">
                        <label for="input_ch_14">영화</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_15" type="checkbox" name="hobbyList" value="넷플릭스"
                               style="display: none;">
                        <label for="input_ch_15">넷플릭스</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_16" type="checkbox" name="hobbyList" value="드라마 정주행"
                               style="display: none;">
                        <label for="input_ch_16">드라마 정주행</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_17" type="checkbox" name="hobbyList" value="TV 예능"
                               style="display: none;">
                        <label for="input_ch_17">TV 예능</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_18" type="checkbox" name="hobbyList" value="독서" style="display: none;">
                        <label for="input_ch_18">독서</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_19" type="checkbox" name="hobbyList" value="카페" style="display: none;">
                        <label for="input_ch_19">카페</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_20" type="checkbox" name="hobbyList" value="코인노래방"
                               style="display: none;">
                        <label for="input_ch_20">코인노래방</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_21" type="checkbox" name="hobbyList" value="음주" style="display: none;">
                        <label for="input_ch_21">음주</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_22" type="checkbox" name="hobbyList" value="쇼핑" style="display: none;">
                        <label for="input_ch_22">쇼핑</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_23" type="checkbox" name="hobbyList" value="공부" style="display: none;">
                        <label for="input_ch_23">공부</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_24" type="checkbox" name="hobbyList" value="원데이클래스"
                               style="display: none;">
                        <label for="input_ch_24">원데이클래스</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_25" type="checkbox" name="hobbyList" value="맛집 탐방"
                               style="display: none;">
                        <label for="input_ch_25">맛집 탐방</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_26" type="checkbox" name="hobbyList" value="여행" style="display: none;">
                        <label for="input_ch_26">여행</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_27" type="checkbox" name="hobbyList" value="요리" style="display: none;">
                        <label for="input_ch_27">요리</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_28" type="checkbox" name="hobbyList" value="그림 그리기"
                               style="display: none;">
                        <label for="input_ch_28">그림 그리기</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_29" type="checkbox" name="hobbyList" value="음악 듣기"
                               style="display: none;">
                        <label for="input_ch_29">음악 듣기</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_30" type="checkbox" name="hobbyList" value="악기 연주"
                               style="display: none;">
                        <label for="input_ch_30">악기 연주</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_31" type="checkbox" name="hobbyList" value="사진 찍기"
                               style="display: none;">
                        <label for="input_ch_31">사진 찍기</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_32" type="checkbox" name="hobbyList" value="웹툰" style="display: none;">
                        <label for="input_ch_32">웹툰</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_33" type="checkbox" name="hobbyList" value="게임" style="display: none;">
                        <label for="input_ch_33">게임</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_34" type="checkbox" name="hobbyList" value="재테크" style="display: none;">
                        <label for="input_ch_34">재테크</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_35" type="checkbox" name="hobbyList" value="전시회 관람"
                               style="display: none;">
                        <label for="input_ch_35">전시회 관람</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_36" type="checkbox" name="hobbyList" value="봉사활동"
                               style="display: none;">
                        <label for="input_ch_36">봉사활동</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_37" type="checkbox" name="hobbyList" value="환경 보호 활동"
                               style="display: none;">
                        <label for="input_ch_37">환경 보호 활동</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_ch_38" type="checkbox" name="hobbyList" value="드라이브"
                               style="display: none;">
                        <label for="input_ch_38">드라이브</label>
                    </div>
                </div>
            </div>
            <script>
                const maxSelections = 8; // 최대 선택 가능한 개수
                const checkboxes = document.querySelectorAll('input[name="hobbyList"]');
                checkboxes.forEach((checkbox) => {
                    checkbox.addEventListener('change', function () {
                        let checkedCount = document.querySelectorAll('input[name="hobbyList"]:checked').length;
                        if (checkedCount > maxSelections) {
                            this.checked = false;
                        }
                    });
                });
            </script>
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">키</span>
                    <span>(숫자만 입력해주세요.)</span>
                </label>
                <input type="text" name="tall" placeholder="키" class="input input-bordered input-secondary" maxlength="30"
                       pattern="^\d+(\.\d)?$" th:field="*{tall}">
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">체형</span>
                </label>
                <select name="body_type" class="input input-bordered input-secondary" th:field="*{body_type}">
                    <option value="마른">마른</option>
                    <option value="슬림한">슬림한</option>
                    <option value="평범한">평범한</option>
                    <option value="탄탄한">탄탄한</option>
                    <option value="통통한">통통한</option>
                    <option value="근육질">근육질</option>
                </select>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">흡연 스타일</span>
                </label>
                <select name="smoking" class="input input-bordered input-secondary" th:field="*{smoking}">
                    <option value="비흡연">비흡연</option>
                    <option value="술 마실 때만">술 마실 때만</option>
                    <option value="가끔">가끔</option>
                    <option value="자주">자주</option>
                    <option value="매일">매일</option>

                </select>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">음주</span>
                </label>
                <select name="drinking" class="input input-bordered input-secondary" th:field="*{drinking}">
                    <option value="전혀 안함">전혀 안함</option>
                    <option value="가끔">가끔</option>
                    <option value="자주">자주</option>
                    <option value="매일">매일</option>
                </select>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">스타일</span>
                    <span>최대 8개까지 선택가능합니다.</span>
                </label>
                <div class="grid grid-cols-3 gap-4 border border-pink-600 rounded-lg justify-items-center">
                    <div class="col-span-1">
                        <input id="input_chd_1" type="checkbox" name="styleList" value="활발한" style="display: none;">
                        <label for="input_chd_1" class="checkbox-label">활발한</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_2" type="checkbox" name="styleList" value="조용한" style="display: none;">
                        <label for="input_chd_2" class="checkbox-label">조용한</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_3" type="checkbox" name="styleList" value="애교가 넘치는"
                               style="display: none;">
                        <label for="input_chd_3" class="checkbox-label">애교가 넘치는</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_4" type="checkbox" name="styleList" value="어른스러운"
                               style="display: none;">
                        <label for="input_chd_4" class="checkbox-label">어른스러운</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_5" type="checkbox" name="styleList" value="열정적인"
                               style="display: none;">
                        <label for="input_chd_5" class="checkbox-label">열정적인</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_6" type="checkbox" name="styleList" value="침착한" style="display: none;">
                        <label for="input_chd_6" class="checkbox-label">침착한</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_7" type="checkbox" name="styleList" value="예의 바른"
                               style="display: none;">
                        <label for="input_chd_7" class="checkbox-label">예의 바른</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_8" type="checkbox" name="styleList" value="또라이 같은"
                               style="display: none;">
                        <label for="input_chd_8" class="checkbox-label">또라이 같은</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_9" type="checkbox" name="styleList" value="유머러스한"
                               style="display: none;">
                        <label for="input_chd_9" class="checkbox-label">유머러스한</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_10" type="checkbox" name="styleList" value="진지한"
                               style="display: none;">
                        <label for="input_chd_10" class="checkbox-label">진지한</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_11" type="checkbox" name="styleList" value="자신감 넘치는"
                               style="display: none;">
                        <label for="input_chd_11" class="checkbox-label">자신감 넘치는</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_12" type="checkbox" name="styleList" value="허세 없는"
                               style="display: none;">
                        <label for="input_chd_12" class="checkbox-label">허세 없는</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_13" type="checkbox" name="styleList" value="엉뚱한"
                               style="display: none;">
                        <label for="input_chd_13" class="checkbox-label">엉뚱한</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_14" type="checkbox" name="styleList" value="지적인"
                               style="display: none;">
                        <label for="input_chd_14" class="checkbox-label">지적인</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_15" type="checkbox" name="styleList" value="성실한"
                               style="display: none;">
                        <label for="input_chd_15" class="checkbox-label">성실한</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_16" type="checkbox" name="styleList" value="자유로운"
                               style="display: none;">
                        <label for="input_chd_16" class="checkbox-label">자유로운</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_17" type="checkbox" name="styleList" value="감성적인"
                               style="display: none;">
                        <label for="input_chd_17" class="checkbox-label">감성적인</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_18" type="checkbox" name="styleList" value="꼼꼼한"
                               style="display: none;">
                        <label for="input_chd_18" class="checkbox-label">꼼꼼한</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_19" type="checkbox" name="styleList" value="논리적인"
                               style="display: none;">
                        <label for="input_chd_19" class="checkbox-label">논리적인</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_20" type="checkbox" name="styleList" value="즉흥적인"
                               style="display: none;">
                        <label for="input_chd_20" class="checkbox-label">즉흥적인</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_21" type="checkbox" name="styleList" value="소심한"
                               style="display: none;">
                        <label for="input_chd_21" class="checkbox-label">소심한</label>
                    </div>
                    <div class="col-span-1">
                        <input id="input_chd_22" type="checkbox" name="styleList" value="쿨한" style="display: none;">
                        <label for="input_chd_22" class="checkbox-label">쿨한</label>
                    </div>
                </div>
            </div>
            <script>
                const maxSelections = 8;
                    const checkboxes = document.querySelectorAll('input[name="styleList"]');
                    checkboxes.forEach((checkbox) => {
                        checkbox.addEventListener('change', function () {
                            let checkedCount = document.querySelectorAll('input[name="styleList"]:checked').length;
                            if (checkedCount > maxSelections) {
                                this.checked = false;
                            }
                        });
                    });
            </script>

            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">종교</span>
                </label>
                <select name="religion" class="input input-bordered input-secondary" th:field="*{religion}">
                    <option value="무교">무교</option>
                    <option value="불교">불교</option>
                    <option value="천주교">천주교</option>
                    <option value="기독교">기독교</option>
                    <option value="원불교">원불교</option>
                    <option value="이슬람교">이슬람교</option>
                    <option value="기타">기타</option>
                </select>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">MBTI</span>
                </label>
                <select name="mbti" class="input input-bordered input-secondary" th:field="*{mbti}">
                    <option value="선택안함">선택안함</option>
                    <option value="ISTJ">ISTJ</option>
                    <option value="ISFJ">ISFJ</option>
                    <option value="INFJ">INFJ</option>
                    <option value="INTJ">INTJ</option>
                    <option value="ISTP">ISTP</option>
                    <option value="ISFP">ISFP</option>
                    <option value="INFP">INFP</option>
                    <option value="INTP">INTP</option>
                    <option value="ESTP">ESTP</option>
                    <option value="ESFP">ESFP</option>
                    <option value="ENFP">ENFP</option>
                    <option value="ENTP">ENTP</option>
                    <option value="ESTJ">ESTJ</option>
                    <option value="ESFJ">ESFJ</option>
                    <option value="ENFJ">ENFJ</option>
                    <option value="ENTJ">ENTJ</option>
                </select>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">최종 졸업 또는 재학 중인 학교</span>
                </label>
                <select name="school" class="input input-bordered input-secondary" th:field="*{school}">
                    <option value="선택안함">선택안함</option>
                    <option value="고교 졸업 이하">고교 졸업 이하</option>
                    <option value="고등학교 졸업">고등학교 졸업</option>
                    <option value="전문 대학교">전문 대학교</option>
                    <option value="대학교 재학">대학교 재학</option>
                    <option value="외국어대학교">외국어대학교</option>
                    <option value="대학교 졸업">대학교 졸업</option>
                    <option value="대학교 수료">대학교 수료</option>
                    <option value="유학생">유학생</option>
                    <option value="대학원">대학원</option>
                </select>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">직장</span>
                </label>
                <select name="job" class="input input-bordered input-secondary" th:field="*{job}">
                    <option value="선택안함">선택안함</option>
                    <option value="공무원">공무원</option>
                    <option value="학생">학생</option>
                    <option value="군인">군인</option>
                    <option value="아르바이트">아르바이트</option>
                    <option value="프리랜서">프리랜스</option>
                    <option value="회사원">회사원</option>
                    <option value="자영업">자영업</option>
                    <option value="전문직">전문직</option>
                    <option value="의료직">의료직</option>
                    <option value="교육직">교육직</option>
                    <option value="금융직">금융직</option>
                    <option value="연구,기술직">연구,기술직</option>
                    <option value="사업가">사업가</option>
                    <option value="취업준비중">취업준비중</option>
                    <option value="기타">기타</option>
                </select>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">자기소개</span>
                </label>
                <textarea name="About_Me" placeholder="자기소개" class="input input-bordered input-secondary" maxlength="500"
                          style="height: 200px;"></textarea>
            </div>
            <script>
                const forbiddenWords = ['씨발', '씹', '창녀','존나','좆밥','지랄','찐따','병신','보지','자지' ];

                const textArea = document.querySelector('textarea[name="About_Me"]');
                textArea.addEventListener('input', function () {
                    const inputValue = this.value.toLowerCase();
                    for (let i = 0; i < forbiddenWords.length; i++) {
                        if (inputValue.includes(forbiddenWords[i].toLowerCase())) {
                            alert('비속어는 사용할 수 없습니다.');
                            this.value = '';
                            return;
                        }
                    }
                });
            </script>
            <style>
                input:checked + label {
                    color: purple;
                    font-weight: bold;
                }
            </style>
            <div>
                <button type="submit" class="btn" style="padding:0 145px; border-radius:10px; border :1px solid #f08dac; background-color :#f08dac">
                    <span>수정하기</span>
                </button>
            </div>
        </form>
    </div>
    <div th:include="common/menu.html" class="tap_bar"></div>
    <style>
        .tap_bar {
                position: fixed;
                width: 100%;
                bottom : 0;
            }
    </style>
</div>
</body>
</html>