<html layout:decorate="~{common/layout}" lang="en">

<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

</head>


<div layout:fragment="content" class="container my-3">

    <div class="user-username" th:text="${siteUser.username}" style="display: none;"></div>
    <div>
        <img th:src="@{|${siteUser.filepath}|}" alt="User Image" style="max-width: 300px; max-height: 300px;">
    </div>
    <div th:text="'닉네임 : ' + ${siteUser.nickname}"></div>
    <div th:text="'나이 : ' + ${siteUser.age}"></div>
    <div th:text="'지역 : ' + ${siteUser.living}"></div>
    <div th:text="'취미 : ' + ${siteUser.hobbyList}"></div>
    <div th:text="'키 : ' + ${siteUser.tall}"></div>
    <div th:text="'체형 : ' + ${siteUser.body_type}"></div>
    <div th:text="'흡연 : ' + ${siteUser.smoking}"></div>
    <div th:text="'음주 : ' + ${siteUser.drinking}"></div>
    <div th:text="'성격 : ' + ${siteUser.styleList}"></div>
    <div th:text="'종교 : ' + ${siteUser.religion}"></div>
    <div th:text="'MBTI : ' + ${siteUser.mbti}"></div>
    <div th:text="'학교 : ' + ${siteUser.school}"></div>
    <div th:text="'직업 : ' + ${siteUser.job}"></div>
    <div th:text="'자기소개 : ' + ${siteUser.About_Me}"></div>
    <h2>원하는 이상형</h2>
    <div th:text="'선호하는 나이 : ' + ${siteUser.desired_age}"></div>
    <div th:text="'선호하는 지역 : ' + ${siteUser.desired_living}"></div>
    <div th:text="'선호하는 이성 키 : ' + ${siteUser.desired_tall}"></div>
    <div th:text="'선호하는 이성 체형 : ' + ${siteUser.desired_body_type}"></div>
    <div th:text="'선호하는 이성 흡연 : ' + ${siteUser.desired_smoking}"></div>
    <div th:text="'선호하는 이성 음주 : ' + ${siteUser.desired_drinking}"></div>
    <div th:text="'선호하는 이성 성격 : ' + ${siteUser.desired_styleList}"></div>
    <div th:text="'선호하는 이성 종교 : ' + ${siteUser.desired_religion}"></div>
    <div th:text="'선호하는 이성 MBTI : ' + ${siteUser.desired_mbti}"></div>
    <a class="btn btn-primary" th:href="@{'/user/report/' + ${siteUser.id}}">신고하기</a>
    <a class="btn btn-primary" th:href="@{'/user/add_interest/' + ${siteUser.id}}">
        <span th:text="${isInterested ? '관심 해제' : '관심 등록'}"></span>
    </a>
    <!--    <button id="sendCyberMoneyBtn" class="btn btn-primary" data-toggle="modal" data-target="#cyberMoneyModal" >사이버머니-->
    <!--        보내기-->
    <!--    </button>-->
    <button th:if="${chatRoom == null}" id="sendCyberMoneyBtn" class="btn btn-primary" data-toggle="modal" data-target="#cyberMoneyModal">채팅방 만들기
    </button>
    <a class="nav-link" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
       th:href="@{'/admin/punish/' + ${siteUser.id}}">제재하기</a>
    <!-- 모달 다이얼로그 -->
    <!--    <button id="cyberMoneyModal" onclick="my_modal_5.showModal()">Open Modal</button>-->

    <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="modal-title">사이버머니 보내기</h3>
            <div class="modal-body">
                <p>금액을 입력해주세요:</p>
                <input type="number" id="cyberMoneyAmount" class="form-control" required>

                <p>받는사람:</p>
                <div th:text="${siteUser.username}" id="recipientUsername" class="form-control"></div>
            </div>

            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button class="btn btn-primary" id="sendCyberMoneyConfirmBtn">확인</button>
                </form>
            </div>
        </div>
    </dialog>


</div>


</html>


<script>
    $(document).ready(function() {
        $('#sendCyberMoneyBtn').click(function() {
            my_modal_5.showModal();

            // 사용자의 username을 HTML에서 가져옵니다.
           var siteUserUsernameElement = $(".user-username");
            var recipientUsername = siteUserUsernameElement.text();

            $('#recipientUsername').text(recipientUsername);

            $('#sendCyberMoneyConfirmBtn').click(function() {
            alert("사이버 머니가 성공적으로 전송 되었습니다.");
            var amount = $('#cyberMoneyAmount').val();

            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");

                if (amount >= 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/user/cybermoney/send',
                        data: 'recipientUsername=' + recipientUsername + '&amount=' + amount,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        },
                        success: function() {
                            $('#cyberMoneyModal').modal('hide'); // 성공 시 모달을 닫음
                            alert('사이버 머니 전송이 성공했습니다.');
                            // 사이버 머니 갱신 등의 추가 작업 수행
                        },
                        error: function(xhr) {
                            if (xhr.status === 400) {
                                alert('사이버 머니 전송에 실패했습니다. 요청이 잘못되었습니다.');
                            } else if (xhr.status === 403) {
                                alert('사이버 머니 전송에 실패했습니다. 권한이 없습니다.');
                            } else {
                                console.log(xhr.status);
                                alert('사이버 머니 전송에 실패했습니다. 서버 오류가 발생했습니다.');
                            }
                        }
                    });
                } else {
                    alert('금액은 0 이상이어야 합니다.');
                }
            });
        });
    });
</script>