<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>신고하기</title>
</head>
<body>
<div layout:fragment="content" class="container m-auto flex justify-center flex-col items-center">

    <form th:action="@{'/user/report/' + ${userId}}" th:object="${reportForm}" method="post">

        <div class="mb-3">
            <input type="text" name="subject" id="subject" placeholder="제목"
                   class="input input-bordered input-info w-full max-w-xs">
        </div>
        <div class="mb-3">
            <textarea name="content" id="content" placeholder="내용" class="textarea textarea-info w-full max-w-xs"
                      rows="15"></textarea>
        </div>
        <div class="flex justify-end">
            <input type="submit" value="신고하기" class="btn btn-primary my-2">
        </div>
    </form>
</div>
</body>
</html>