<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container m-auto">

    <div><a href="/user/profile_modify">프로필 수정</a></div>
    <div><a href="/user/desired_modify">나의 이상형 정보 수정</a></div>


    <div th:include="common/menu.html" class="tap_bar"></div>
    <style>
        .tap_bar {
                position: fixed;
                width: 100%;
                bottom : 0;
            }
    </style>
</div>
</body>
</html>