<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
</head>
<body>
<div layout:fragment="content" class="flex-1 flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4"  style="font-size: 21px; font-weight: bold;">
            <i class="fa-solid fa-user-plus"></i>
            회원가입
        </h1>
        <form enctype="multipart/form-data" th:action name="join-form" method="post" th:object="${userCreateForm}"
               onsubmit="submitJoinForm(this); return false;" class="flex flex-col gap-6" style="margin-bottom:40px;">
            <div class="form-control" style="text-align: center;">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">프로필 이미지</span>
                </label>
                <input type="file" name="file" id="image" class="file-input file-input-bordered file-input-secondary"
                       accept="image/**" onchange="previewImage(this)" style="margin-bottom :15px; padding: 0; ">
                <div id="image-preview" style="margin: auto; border-radius:20px; border: 2px solid #f08dac;"></div>
            </div>
            <div class="form-control">
                <label class="label" style="padding :0 4px 8px 4px;">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">아이디</span>
                </label>
                <input type="text" name="username" placeholder="아이디" class="input input-bordered input-secondary" autofocus
                       maxlength="30" onchange="$(this).keyup();" onpaste="setTimeoutZero(() => $(this).keyup());"
                       onkeyup="checkUsernameDupDebounce();">
                <div class="mt-2 text-sm"></div>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text" style="font-size: 18px; font-weight: bold;">비밀번호</span>
                </label>
                <input type="password" name="password1" placeholder="비밀번호" class="input input-bordered input-secondary" maxlength="30">
            </div>

            <div class="form-control">
                <label class="label" style="font-size: 18px; font-weight: bold;">
                    <span class="label-text">비밀번호 확인</span>
                </label>
                <input type="password" name="password2" placeholder="비밀번호 확인" class="input input-bordered input-secondary"
                       maxlength="30">
            </div>

            <div class="form-control">
                <label class="label" style="font-size: 18px; font-weight: bold;">
                    <span class="label-text">닉네임</span>
                </label>
                <input type="text" name="nickname" placeholder="닉네임" class="input input-bordered input-secondary"
                       maxlength="30" onchange="$(this).keyup();" onpaste="setTimeoutZero(() => $(this).keyup());"
                       onkeyup="checkNicknameDupDebounce();">
                <div class="mt-2 text-sm"></div>
            </div>

            <div class="form-control">
                <label class="label" style="font-size: 18px; font-weight: bold;">
                    <span class="label-text">성별</span>
                </label>
                <select name="gender" class="input input-bordered input-secondary">
                    <option value="남">남</option>
                    <option value="여">여</option>
                </select>
            </div>

            <div>
                <button class="btn" style="padding:0 145px; border-radius:10px; border :1px solid #f08dac; background-color :#f08dac">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>다음</span>
                </button>

            </div>
        </form>
        <script>
            function checkUsernameDup(form) {
                form.username.value = form.username.value.trim();
                 if ( form.username.value.length == 0 ) {
                    clearUsernameInputMsg();
                    return;
                }
                if ( form.username.value.length < 4 ) {
                    clearUsernameInputMsg();
                    return;
                }

                if ( validUsername == form.username.value ) return;
                if ( lastCheckedUsername == form.username.value ) return;
                lastCheckedUsername = form.username.value;
                clearUsernameInputMsg();
                fetch(
                    'checkUsernameDup?username=' + form.username.value
                )
                    .then(request => request.json())
                    .then((rsData) => {
                        if ( rsData.success ) {
                            validUsername = form.username.value;
                        }
                         setUsernameInputMsg(rsData.success, rsData.msg);
                    });
            }

            function checkNicknameDup(form) {
                form.nickname.value = form.nickname.value.trim();
                 if ( form.nickname.value.length == 0 ) {
                    clearNicknameInputMsg();
                    return;
                }
                if ( form.nickname.value.length < 4 ) {
                    clearNicknameInputMsg();
                    return;
                }
                if ( validNickname == form.nickname.value ) return;
                if ( lastCheckedNickname == form.nickname.value ) return;
                lastCheckedNickname = form.nickname.value;

                clearNicknameInputMsg();
                fetch(
                    'checkNicknameDup?nickname=' + form.nickname.value
                )
                    .then(request => request.json())
                    .then((rsData) => {
                        if ( rsData.success ) {
                            validNickname = form.nickname.value;
                        }
                        setNicknameInputMsg(rsData.success, rsData.msg);
                    });
            }

            const joinForm = document['join-form'];
            const checkUsernameDupDebounce = _.debounce(() => checkUsernameDup(joinForm), 500);
            const checkNicknameDupDebounce = _.debounce(() => checkNicknameDup(joinForm), 500);

            function clearUsernameInputMsg() {
                $(joinForm.username).removeClass('input-accent input-error');
                $(joinForm.username).next().removeClass('text-green-400 text-red-400');
                $(joinForm.username).next().empty();
            }
            function setUsernameInputMsg(isSuccess, msg) {
                if ( isSuccess ) $(joinForm.username).addClass('input-accent');
                if ( !isSuccess ) $(joinForm.username).addClass('input-error');
                $(joinForm.username).next().addClass(isSuccess ? 'text-green-400' : 'text-red-400');
                $(joinForm.username).next().text(msg);
            }

            function clearNicknameInputMsg() {
                $(joinForm.nickname).removeClass('input-accent input-error');
                $(joinForm.nickname).next().removeClass('text-green-400 text-red-400');
                $(joinForm.nickname).next().empty();
            }
            function setNicknameInputMsg(isSuccess, msg) {
                if ( isSuccess ) $(joinForm.nickname).addClass('input-accent');
                if ( !isSuccess ) $(joinForm.nickname).addClass('input-error');
                $(joinForm.nickname).next().addClass(isSuccess ? 'text-green-400' : 'text-red-400');
                $(joinForm.nickname).next().text(msg);
            }
            let lastCheckedUsername = '';
            let lastCheckedNickname = '';
            let validUsername = '';
            let validNickname = '';
            let submitJoinFormDone = false;

            function submitJoinForm(form) {
                if (submitJoinFormDone) return;
                form.username.value = form.username.value.trim();

                if (form.username.value.length == 0) {
                    form.username.focus();
                    toastWarning('아이디를 입력해주세요.');
                    return;
                }
                if ( form.username.value.length < 4 ) {
                    form.username.focus();
                    toastWarning('아이디를 4자 이상 입력해주세요.');
                    return;
                }

                form.password1.value = form.password1.value.trim();

                if (form.password1.value.length == 0) {
                    form.password1.focus();
                    toastWarning('비밀번호를 입력해주세요.');
                    return;
                }

                form.password2.value = form.password2.value.trim();

                if (form.password2.value.length == 0) {
                    form.password2.focus();
                    toastWarning('비밀번호 확인을 입력해주세요.');
                    return;
                }

                if (form.password1.value != form.password2.value) {
                    form.password2.focus();
                    toastWarning('비밀번호 확인이 일치하지 않습니다.');
                    return;
                }

                form.nickname.value = form.nickname.value.trim();

                if (form.nickname.value.length == 0) {
                    form.nickname.focus();
                    toastWarning('닉네임을 입력해주세요.');
                    return;
                }
                if ( form.nickname.value.length < 4 ) {
                    form.nickname.focus();
                    toastWarning('닉네임을 4자 이상 입력해주세요.');
                    return;
                }
                 if ( validUsername != form.username.value ) {
                    $(form.username).next().focus();
                    toastWarning('아이디 중복체크를 해주세요.');
                    return;
                }
                if ( validNickname != form.nickname.value ) {
                    $(form.nickname).next().focus();
                    toastWarning('아이디 중복체크를 해주세요.');
                    return;
                }
                form.file.value = form.file.value.trim();

                if (form.file.value.length == 0) {
                    form.file.focus();
                    toastWarning('사진을 등록해주세요.');
                    return;
                }

                form.submit();
                submitJoinFormDone = true;
            }
        </script>

    </div>
    <style>
        #image-preview {
            max-width: 300px;
            max-height: 300px;
            margin-top: 10px;
        }
    </style>
    <script>
        function previewImage(input) {
        var preview = document.getElementById('image-preview');
        preview.innerHTML = '';

        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
        var img = document.createElement('img');
        img.src = e.target.result;
        img.style.width = '270px';
        img.style.height = '270px';
        img.style.objectFit = 'cover';
        img.style.borderRadius = '20px';
        preview.appendChild(img);
        };

        reader.readAsDataURL(input.files[0]);
        }
        }
    </script>
</div>
</body>
</html>