<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>사진 변경하기</title>
</head>
<body>
<div layout:fragment="content" class="container m-auto flex justify-center flex-col items-center">
    <form enctype="multipart/form-data" th:action="@{|/user/photoModify/${siteUser.id}|}" object="${photoForm}"
          method="post">
        <input type="file" class="file-input file-input-bordered file-input-info w-full max-w-xs" name="file" accept="image/**"/>
        <button type="submit" class="btn btn-outline btn-info">변경하기</button>
    </form>
    <div th:include="common/menu.html" class="tap_bar"></div>
    <style>
        .tap_bar {
                position: fixed;
                width: 100%;
                bottom : 0;
            }
    </style>
</div>
</body>
</html>