<html layout:decorate="~{/common/layout}" lang="en">
<html>
<head>
    <meta charset="UTF-8"></head>
<body>
<div layout:fragment="content" class="container my-3">
<table>
    <thead>
    <tr>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userList : ${userList}">
        <td>
            <a th:href="@{|/user/detail/${userList.id}|}" th:text="${userList.username}"></a>
        </td>
        <td th:text="${userList.nickname}"></td>
        <td th:text="${userList.living}"></td>
        <td th:text="${userList.age}"></td>
        <td th:text="${userList.About_Me}"></td>

    </tbody>
</table>
</div>
</body>
</html>