<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body style="position: relative">
<div layout:fragment="content">
    <div class="container flex justify-center">
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <div th:include="user/login.html"></div>
        </div>

        <div th:if="${#authorization.expression('isAuthenticated()')}"
             class="profile profile_wrap main-container h-screen">
            <div class="profile_in m-auto flex justify-center flex-col items-center"
                 th:each="userList : ${userList}"
                 style="margin-top: 20px; margin-bottom: 10px; border-radius:10px;">
                <label class="swap swap-flip">
                    <input type="checkbox"/>
                    <div class="swap-on" style="outline: 1px solid #D4D2D2; border-radius:10px;">
                        <a th:href="@{|/user/detail/${userList.id}|}">
                            <div id="myImage">
                                <img style="width: 315px; height: 290px; object-fit: cover; border-top-left-radius: 10px; border-top-right-radius: 10px;"
                                     th:src="@{|${userList.filepath}|}" alt="User Image">
                            </div>
                            <div style=" border-top: 1px solid #D4D2D2; height:66px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                <div>
                                    <div class="ml-3">
                                        <span style="font-size:20px;" th:text="${userList.nickname}"></span>
                                    </div>
                                    <div class="ml-3">
                                        <span style="font-size:12px;" th:text="${userList.age}+'세'"></span>
                                        <span> / </span>
                                        <span style="font-size:12px;" th:text="${userList.living}"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swap-off" style="border-radius:10px;">
                        <div style="height:33px;  background-color: #f08dac;  border-top-left-radius: 10px; border-top-right-radius: 10px;">
                        </div>
                        <div>
                            <img style="width: 315px; height: 290px; object-fit: cover;"
                                 src="/img/pink.png" alt="pink image"/>
                        </div>
                        <div style="height:33px;  background-color: #f08dac; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        </div>
                    </div>
                </label>
            </div>

        </div>
        <div sec:authorize="isAuthenticated()" th:include="common/menu.html" class="tap_bar"></div>
    </div>
<div style="height:1000px;"></div>
    <div th:include="common/footer.html"></div>
    <div>
        <div th:if="${#authorization.expression('isAuthenticated()') and userWarning}">
            <div id="warningMessage" style="color: red; font-weight: bold;">경고합니다</div>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()') and userWarning}">
            <a th:href="@{/user/okay}">확인했습니다.</a>
        </div>
    </div>
<!--    <div th:if="${siteUsers != null}" th:each="user : ${siteUsers}">-->
<!--        <div class="flex  ">-->
<!--            <div><a th:value="${user.id}" name="userId" th:text="${user.nickname}"></a></div>-->
<!--            <div>-->
<!--                <form method="post"-->
<!--                      th:action="@{|/chat/${chatRoom != null ? chatRoom.id+1 : 1}/room/${user.id}|}">-->
<!--                    <input class="userId_value" type="hidden" name="userId" th:value="${user.id}">-->
<!--                    <button type="submit">님과 채팅방 만들기</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <style>
        .tap_bar {
            position: fixed;
            width: 100%;
            bottom : 0;
        }

    .container {

         margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .footer{
    padding : 0 40px;
        position:absolute;
        bottom:0;
    }

    </style>
    <script>
        var img = document.getElementById('myImage');
        img.classList.add('object-cover');
    </script>
</div>
</body>
</html>