<!DOCTYPE html>
<html layout:decorate="~{/common/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">

    <div th:each="user : ${siteUsers}">
        <div class="flex  ">
        <div><a  th:href="@{|/chat/${chatRoom.id+1}/room|}" th:value="${user.id}"  name="userId" th:text="${user.username}"></a></div>
        <div>
            <form method="get" th:action="@{|/chat/${chatRoom.id+1}/room|}">
                <input type="hidden" name="userId" th:value="${user.id}">
                <button type="submit" > 채팅방 만들기 </button>
            </form>
        </div>
          </div>

    </div>




</div>
</body>
</html>

<script >

    $(document).ready(function () {
      $("#myLink").click(function () {
          var valueToSend = "exampleValue"; // 보낼 값
          var url = "/chat/"+roomId+"?paramName=" + valueToSend;

          $.get(url, function (data) {
              // 서버 응답을 처리
              console.log(data);
          });
      });
  });



</script>