<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
</head>
<body>

<div layout:fragment="content" class="container m-auto">

    <div class="user-username" th:text="${user.username}" style="display: none;"></div>
    <div>
        <img th:src="@{|${user.filepath}|}" alt="User Image" style="max-width: 300px; max-height: 300px;">
    </div>
    <div class="text-right">
        <a th:href="@{|/user/photoModify/${user.id}|}">사진 수정하기</a>
    </div>
    <div th:text="'닉네임 : ' + ${user.nickname}"></div>
    <div th:text="'나이 : ' + ${user.age}"></div>
    <div th:text="'지역 : ' + ${user.living}"></div>
    <div th:text="'취미 : ' + ${user.hobbyList}"></div>
    <div th:text="'키 : ' + ${user.tall}"></div>
    <div th:text="'체형 : ' + ${user.body_type}"></div>
    <div th:text="'흡연 : ' + ${user.smoking}"></div>
    <div th:text="'음주 : ' + ${user.drinking}"></div>
    <div th:text="'성격 : ' + ${user.styleList}"></div>
    <div th:text="'종교 : ' + ${user.religion}"></div>
    <div th:text="'MBTI : ' + ${user.mbti}"></div>
    <div th:text="'학교 : ' + ${user.school}"></div>
    <div th:text="'직업 : ' + ${user.job}"></div>
    <div th:text="'자기소개 : ' + ${user.About_Me}"></div>
    <div class="text-right">
        <a href="/user/profile_modify">프로필 수정</a>
    </div>
    <h2>원하는 이상형</h2>
    <div th:text="'선호하는 나이 : ' + ${user.desired_age}"></div>
    <div th:text="'선호하는 지역 : ' + ${user.desired_living}"></div>
    <div th:text="'선호하는 이성 키 : ' + ${user.desired_tall}"></div>
    <div th:text="'선호하는 이성 체형 : ' + ${user.desired_body_type}"></div>
    <div th:text="'선호하는 이성 흡연 : ' + ${user.desired_smoking}"></div>
    <div th:text="'선호하는 이성 음주 : ' + ${user.desired_drinking}"></div>
    <div th:text="'선호하는 이성 성격 : ' + ${user.desired_styleList}"></div>
    <div th:text="'선호하는 이성 종교 : ' + ${user.desired_religion}"></div>
    <div th:text="'선호하는 이성 MBTI : ' + ${user.desired_mbti}"></div>
    <div class="text-right">
        <a href="/user/desired_modify">나의 이상형 정보 수정</a>
    </div>

    <div class="flex justify-center">
    <span>
        <a th:href="@{/user/wish}">보낸 관심 </a>
    </span>
        <span> | </span>
        <span>
        <a th:href="@{/user/wished}"> 받은 관심</a>
    </span>
    </div>

    <div>=============================================================</div>
    <ul>
        <div sec:authorize="isAuthenticated()" th:text="${user.nickname}+'님 환영합니다!'"></div>
        <li><a th:href="@{|/user/detail/${user.id}|}">내 프로필</a></li>
        <li></li>
        <li><a href="/user/passwordChange">비밀번호 변경</a></li>
        <li><a href="/user/profile_modify">프로필 수정</a></li>
        <li><a href="/user/desired_modify">나의 이상형 정보 수정</a></li>
        <li><a href="/user/delete">회원 탈퇴</a></li>
        <li><a th:href="@{/chat/allRoom}">내 채팅방</a></li>
        <li><a th:href="@{/user/wish}">내가 관심있는 사람</a></li>
        <li><a th:href="@{/user/wished}">나를 관심있게 생각하는 사람</a></li>
        <li><a th:href="@{/board/myAppealBoard}">내 어필 게시판</a></li>
        <li><a th:href="@{/user/transactions}">내 하트 정보</a></li>
    </ul>


    <div>
        <h2>사이버머니 정보:</h2>
        <p>보유 중인 하트: <span th:text="${userCyberMoney}"></span></p>
        <p>이성에게 받은 하트: <span th:text="${receivedCyberMoney}"></span></p>
    </div>

</div>


</body>
</html>