<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
</head>

<div layout:fragment="content" class="container m-auto flex justify-center flex-col items-center">
    <div class="mb-5 mt-5" style="margin-bottom:40px; width: 270px; border-radius: 20px;
    outline: 2px solid #f08dac; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);">
        <div class="all">
            <div class="photo mb-3" style="position: relative;">
                <div class="flex justify-center">
                    <img th:src="@{|${user.filepath}|}" alt="User Image" style="width: 270px; height: 270px;
             object-fit: cover; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                </div>
                <div class="dropdown w-full" style="position: absolute; top: 10px; right: 10px;">
                    <div class=" flex justify-end">
                        <label tabindex="0">
                            <i class="fa-solid fa-gear fa-xl" style="color: #000000;"></i>
                        </label>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a th:href="@{|/user/photoModify/${user.id}|}">사진 변경</a></li>
                        <li><a href="/user/profile_modify">프로필 변경</a></li>
                        <li><a href="/user/desired_modify">이상형 변경</a></li>
                        <li><a href="/user/passwordChange">비밀번호 변경</a></li>
                        <li><a href="/user/delete">회원 탈퇴</a></li>
                        <li><a href="/board/myAppealBoard">내가 쓴 글</a></li>
                        <form action="/user/updateMinHeart" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                            <div class="title text-lg border-b border-black">최소 하트값 설정<p style="display: inline-block; margin-right: 10px;">&nbsp(최소 하트: <span th:text="${minHeart}+'개)'"></span></p>
                            </div>
                            <label for="minHeartInput">최소 하트값:</label>
                            <input class="input input-sm input-secondary  max-w-xs" type="number" name="minHeart" id="minHeartInput" placeholder="최소 하트값 입력" />
                            <button type="submit" class="btn btn-sm"
                                    style="border-radius:10px; border :1px solid #f08dac; background-color :#F7A03B">확인</button>
                        </form>
                    </ul>
                </div>
            </div>




            <div class="profile">
                <div th:text="${user.nickname + ', ' + user.age}+', '+${user.mbti}" class="ml-2"
                     style="font-size: 27px; font-weight: bold;"></div>
                <div class="ml-2" th:text="${user.About_Me}"></div>


                <div class="ml-2 mr-2 info_wrap">
                    <span><i class="fa-solid fa-location-dot"></i><span
                            th:text="${user.living}"></span></span>
                    <span><i class="fa-solid fa-briefcase"></i><span th:text="${user.job}"></span></span>
                </div>

                <div class="ml-2 mr-2 info_wrap">
                    <span><i class="fa-solid fa-tape"></i><span th:text="${user.tall}+'cm'"></span></span>
                    <span><i class="fa-solid fa-person"></i><span th:text="${user.body_type}"></span></span>
                </div>
                <div class="ml-2 mr-2 info_wrap">
                    <span><i class="fa-solid fa-beer-mug-empty"></i><span th:text="${user.drinking}"></span></span>
                    <span><i class="fa-solid fa-smoking"></i><span th:text="${user.smoking}"></span></span>
                </div>
                <div class="ml-2 mr-2 mb-3 info_wrap">
                    <span><i class="fa-solid fa-school"></i><span th:text="${user.school}"></span></span>
                    <span><span th:text="'종교:  ' + ${user.religion}"></span></span>
                </div>
                <div class="ml-2" th:text="'성격 : ' + ${user.styleList}"></div>
                <div class="ml-2" th:text="'취미 : ' + ${user.hobbyList}"></div>

            </div>
            <div class="last mb-3">
                <div class="text-xl flex justify-center">
                    <button onclick="show_desired()" id="up_down"
                            style="border: 2px solid black; border-radius: 10px; padding: 0 10px; margin: 10px 0;">
                        <span>저는 이런사람이 좋아요</span><i id="icon" class="fa-solid fa-caret-down ml-1"></i>
                    </button>
                </div>
                <div style="display:none;" id="all">
                    <div class="ml-2" th:text="'나이 : ' + ${user.desired_age1}+'~'+${user.desired_age2}"></div>
                    <div class="ml-2" th:text="'지역 : ' + ${user.desired_living}"></div>
                    <div class="ml-2" th:text="'키 : ' + ${user.desired_tall1}+'~'+${user.desired_tall2}"></div>
                    <div class="ml-2" th:text="'체형 : ' + ${user.desired_body_type}"></div>
                    <div class="ml-2" th:text="'흡연 : ' + ${user.desired_smoking}"></div>
                    <div class="ml-2" th:text="'음주 : ' + ${user.desired_drinking}"></div>
                    <div class="ml-2" th:text="'성격 : ' + ${user.desired_styleList}"></div>
                    <div class="ml-2" th:text="'종교 : ' + ${user.desired_religion}"></div>
                    <div class="ml-2" th:text="'MBTI : ' + ${user.desired_mbti}"></div>

                </div>
            </div>
            <script>
                var isUp = false;
                function show_desired(){
                var iconElement = document.getElementById("icon");
                var contentElement = document.getElementById("all");
                if (isUp) {
                iconElement.classList.remove("fa-caret-up");
                iconElement.classList.add("fa-caret-down");
                contentElement.style.display = "none"; // 숨김
                } else {
                iconElement.classList.remove("fa-caret-down");
                iconElement.classList.add("fa-caret-up");
                contentElement.style.display = "block"; // 보임
                    }
                isUp = !isUp;
                }
            </script>
        </div>
    </div>

    <div th:include="common/menu.html" class="tap_bar"></div>
    <style>
        .info_wrap {
        display: flex;
        }

        .info_wrap > span {
            width: calc(100% / 2);
            display: block;
        }
        .tap_bar {
                position: fixed;
                width: 100%;
                bottom : 0;
            }
    </style>
</div>
</html>
