<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>제재하기</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">

    <div style="text-align:center" class="pt-20 pb-5"> <button type="submit" class="btn "
                  style="width:45%; border-radius:10px; border:1px solid #B276EE; background-color:#ffffff">
        <a th:href="@{|/admin/warning/${id}|}">경고</a></button>
    </div>
    <div style="text-align:center" class="pb-5"><button type="submit" class="btn"
                 style="width:45%; border-radius:10px; border:1px solid #B276EE; background-color:#ffffff">
        <a th:href="@{|/admin/Day3_stop/${id}|}">3일 정지</a></button>
    </div >
    <div style="text-align:center" class="pb-5"><button type="submit" class="btn"
                 style="width:45%; border-radius:10px; border:1px solid #B276EE; background-color:#ffffff">
        <a th:href="@{|/admin/Permanent_stop/${id}|}">영구 정지</a></button>
        </a>
    </div>
    <div th:include="common/menu.html" class="tap_bar"></div>
    <style>
        .tap_bar {
                position: fixed;
                width: 100%;
                bottom : 0;
            }
    </style>
</div>
</body>
</html>