````````````````````````````````````````````````````````````````````````````````````````<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>신고 리스트</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">

    <table>
        <thead>
        <tr>
            <th>신고된 사람</th>
            <th>제목</th>
            <th>내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reportList : ${reportList}">
            <td>
                <a th:href="@{|/user/detail/${reportList.siteUser.id}|}" th:text="${reportList.reported_user}"></a>
            </td>
            <td th:text="${reportList.subject}"></td>
            <td th:text="${reportList.content}"></td>
        </tr>
        </tbody>
    </table>
    <div th:include="common/menu.html" class="tap_bar"></div>
    <style>
        .tap_bar {
                position: fixed;
                width: 100%;
                bottom : 0;
            }
    </style>
</div>
</body>
</html>