<!DOCTYPE html>
<html layout:decorate="~{common/layout}" lang="en">
<head>
</head>
<body>

<div layout:fragment="content" class="container  m-auto flex justify-center flex-col  -mt-16 min-h-screen">
    <div class="mt-16">
        <div style="height: 50px;"></div>
        <div style="vertical-align: middle;" class="container_2 text-center mb-5">

            <div  class="badge mr-2  badge-outline" style=" vertical-align display: inline-block;  height: 50px; width: 150px; border-radius: 30px; border: 1px solid #D1D1D1;">
            <p>보유한 하트 <i class="fa-solid fa-heart" style="color: #ff0000;"></i><br/><span th:text="${userCyberMoney}"></span>개</p>
            </div>


            <div class="badge ml-2 badge-outline" style=" vertical-align display: inline-block;  height: 50px; width: 150px; border-radius: 30px; border: 1px solid #D1D1D1;">
            <p>받은 하트 <i class="fa-solid fa-heart" style="color: #ff0000;"></i><br/><span th:text="${receivedCyberMoney}"></span>개</p>
            </div>
        </div>

        <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>

        <div class="tab-buttons" style="display: flex; justify-content: center; gap: 10px;">
            <div style="text-align: center; flex: 1;">
                <button type="submit" class="w-full p-5" onclick="showTab('sentTab')">SENT
                <p>보낸하트</p></button>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="border-left: 1px solid #D6D2D2; height: 100%;"></div>
            </div>
            <div style="text-align: center; flex: 1;">
                <button type="submit" class="w-full p-5" onclick="showTab('receivedTab')">RECEIVE
                <p>받은하트</p></button>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="border-left: 1px solid #D6D2D2; height: 100%;"></div>
            </div>
            <div style="text-align: center; flex: 1;">
                <button type="submit" class="w-full p-5" onclick="showTab('completedTab')">COMPLETE
                <p>하트내역</p></button>
            </div>
        </div>
        <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>

        <div id="sentTab" class="tab-content " style="display: none;">
            <ul>
                <li th:if="${not transaction.isAccepted() and not transaction.isRejected()}"
                    class="Transactions_list" th:each="transaction : ${sent3Transactions}" >
                    <!-- 거절 버튼 -->
                    <div class="flex justify-between items-center">
                        <div class="ml-5 mt-2 mb-2">
                        <p th:text="'회원님이 ♥ ' + ${transaction.amount} + ' 개로 ' +  ${transaction.recipientUser.nickname} + ' 님에게 '"></p>
                            <p>대화신청을 보냈어요!</p>
                            <p th:text="${#dates.format(transaction.transactionDate, 'yyyy-MM-dd')}" style="color: rgba(0, 0, 0, 0.42);"></p>
                    </div>
                        <div style=" align-items: center; margin-left:10px;">
                            <form th:action="@{/user/processTransaction}" method="post">
                                <input type="hidden" name="transactionId" th:value="${transaction.id}" />
                                <input type="hidden" name="action" value="reject" />
                                <button style="border-color: #B276EE; color: #B276EE;" class="btn-sm btn btn-outline btn-info mr-3" type="submit">취소</button>
                            </form>
                        </div>

                    </div>
                    <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>

                </li>
            </ul>
        </div>

        <div id="receivedTab" class="tab-content "  style="display: none;">
            <ul>
                <li class="Transactions_list " th:each="transaction : ${receivedTransactions}">
                    <div style="display: flex; justify-content: space-between;">
                        <div class="ml-5 mt-2 mb-2">
                        <p th:text="${transaction.senderUser.nickname} +' 님이 ♥ ' + ${transaction.amount} + '개를'"></p>
                            <p>보내고 대화신청을 보냈어요.</p>
                            <p th:text="${#dates.format(transaction.transactionDate, 'yyyy-MM-dd')}" style="color: rgba(0, 0, 0, 0.42);"></p>
                        </div>
                        <!-- "수락" 버튼 -->
                        <div class="mr-3" style="display:  flex; align-items: center; margin-left:10px;">
                            <form th:action="@{/user/processTransaction}" method="post">
                                <input type="hidden" name="transactionId" th:value="${transaction.id}" />
                                <input type="hidden" name="action" value="accept" /> <!-- 수락 작업 설정 -->
                                <button class="btn-sm btn btn-outline btn-info" type="submit" style="background-color: #B276EE; color: white;"
                                        th:disabled="${transaction.isAccepted() or transaction.isRejected()}">수락</button>
                            </form>
                            <div style="width: 10px;"></div> <!-- 10px 여백 추가 -->
                            <!-- "거절" 버튼 -->
                            <form th:action="@{/user/processTransaction}" method="post">
                                <input type="hidden" name="transactionId" th:value="${transaction.id}" />
                                <input type="hidden" name="action" value="reject" /> <!-- 거절 작업 설정 -->
                                <button class="btn-sm btn btn-outline btn-info" type="submit" style="border-color: #B276EE; color: #B276EE;"
                                        th:disabled="${transaction.isAccepted() or transaction.isRejected()}">거절</button>
                            </form>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>

                </li>
            </ul>
        </div>


        <div id="completedTab" class="tab-content " style="display: none;">
            <ul>
                <li class="Transactions_list" th:each="transaction : ${completedTransactions}" th:if="${transaction.isAccepted()} or ${transaction.isRejected()}" style="display: flex; justify-content: space-between;"
                    th:unless="${transaction.senderUser.username eq user.username}" th:remove="tag">
                    <div  class="pl-5 pt-2 pb-2">
                        <p th:text="${transaction.senderUser.nickname} +' 님이 보낸 ♥ ' + ${transaction.amount} + '개를 받고'"></p>
                        <p>대화신청을 승락했어요.</p>
                        <p th:text="${#dates.format(transaction.transactionDate, 'yyyy-MM-dd')}" style="color: rgba(0, 0, 0, 0.42);"></p>
                    </div>
                    <div  class="ml-3 mr-3" style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>
                </li>

                <li class="Transactions_list" th:each="transaction : ${sent2Transactions}">
                    <div  class="pl-5 pt-2 pb-2">
                        <p th:text="${transaction.heartUser.nickname} + ' 님에게 ♥ ' + ${transaction.amount} + '개를 선물 보냈어요!'"></p>
                        <p th:text="${#dates.format(transaction.transactionDate, 'yyyy-MM-dd')}" style="color: rgba(0, 0, 0, 0.42);"></p>
                    </div>
                    <div style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>


                </li>

                <li class="Transactions_list" th:each="transaction : ${heartTransactions}">
                    <div  class="pl-5 pt-2 pb-2">
                        <p th:text="${transaction.senderUser.nickname} + ' 님에게 ♥ ' + ${transaction.amount} + '개를 선물 받았어요!'"></p>
                        <p th:text="${#dates.format(transaction.transactionDate, 'yyyy-MM-dd')}" style="color: rgba(0, 0, 0, 0.42);"></p>
                    </div>
                    <div  class="ml-3 mr-3" style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>
                </li>


                <li class="Transactions_list" th:each="transaction : ${sentTransactions}" th:if="${transaction.isAccepted()}">
                    <div  class="pl-5 pt-2 pb-2">
                        <p th:text="'회원님께서 ' + ${transaction.recipientUser.nickname} +' 님에게 ♥ ' + ${transaction.amount} + '개를 보냈습니다.'"></p>
                        <p th:text="${#dates.format(transaction.transactionDate, 'yyyy-MM-dd')}" style="color: rgba(0, 0, 0, 0.42);"></p>
                    </div>
                    <div  class="ml-3 mr-3" style="border-top: 1px solid #D6D2D2; width: 100%; border-top: 1px solid #D6D2D2; width: 100%;"></div>
                </li>
            </ul>
        </div>

    </div>
    <div class="flex-grow"></div>
    <div class="button-container p-5 flex justify-between" style="text-align: center;">
        <button type="submit" class="btn"
                style="width:45%; border-radius:10px; border:1px solid #B276EE; background-color:#ffffff">
            <a href="/user/payment">하트 충전</a>
        </button>
        <button type="submit" class="btn"
                style="width:45%; border-radius:10px; border:1px solid #B276EE; background-color:#ffffff">
            <a href="/exchange/create">환전 신청</a>
        </button>
    </div>


    <div style="height: 20px;"></div>
    <div class="outer-box"></div>

    <!--    <div class="outer-box">-->
    <!--        <div class="inner-box">-->
    <!--            <p class="title">마음에 드는 이성과 대화 해보세요!</p>-->
    <!--            <p>"수락"을 누르면 하트를 받고, 해당 이성과의 채팅방이 열립니다.</p>-->
    <!--            <p>※ 욕설 및 음담패설을 하지 않도록 합니다.</p>-->
    <!--            <p>※ 억지로 상대방의 정보를 캐내려고 하지 마세요.</p>-->
    <!--            <p>"거절"을 누르면 하트를 받지 않고, 해당 이성에게 하트를 반송합니다.</p>-->
    <!--            <p>- 거절해도 상대방에게 알림이 가지 않아요.</p>-->
    <!--        </div>-->
    <!--    </div>-->

    <script>
        function showTab(tabName) {
            var tabContents = document.getElementsByClassName('tab-content');
            for (var i = 0; i < tabContents.length; i++) {
                tabContents[i].style.display = 'none';
            }
            document.getElementById(tabName).style.display = 'block';
        }
    </script>



<div th:include="common/menu.html" class="tap_bar"></div>
<style>
    .tap_bar {
            position: fixed;
            width: 100%;
            bottom : 0;
        }
</style>
</div>
</body>
</html>
