<html layout:decorate="~{/common/layout}" lang="en">
<head>
    <meta charset="UTF-8"></head>
<body>
<div layout:fragment="content" class="container my-3">
    <table>
        <thead>
        <tr>
            <th>닉네임</th>
            <th>조회</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="interestList : ${interestList}">
            <td th:text="${interestList.interestUser}"></td>
            <td>
                <a th:href="@{|/user/detail/${interestList.interestUserId}|}">조회
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>