<html layout:decorate="~{common/layout}" lang="en">
<head>
    <style>
        .Transactions_list {
            margin-bottom: 10px; /* 원하는 간격을 설정하세요. */
            border: 1px solid #000; /* 네모 테두리 스타일 */
            padding: 10px; /* 네모 내부 여백 */
        }
        .tab-button {
            cursor: pointer;
        }
        .container {
            padding: 0 40px;
        }
    </style>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content" class="container my-3">

    <div class="tab-buttons" style="display: flex; justify-content: center;">
        <div style="text-align: center; flex: 1;">
            <button class="btn" onclick="showTab('sendTab')">보낸관심</button>
        </div>
        <div style="text-align: center; flex: 1;">
            <button class="btn" onclick="showTab('receivedTab')">받은관심</button>
        </div>
    </div>
    <div id="sendTab" class="tab-content">
        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                <tr>
                    <th>사진</th>
                    <th>닉네임</th>
                    <th>지역</th>
                    <th>나이</th>
                    <th>간단 자기소개</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="siteUserList : ${siteUserList}">
                    <td>
                        <a th:href="@{|/user/detail/${siteUserList.receivedSiteUser.id}|}">
                            <img class="w-30 h-30" th:src="@{|${siteUserList.receivedSiteUser.filepath}|}"
                                 alt="User Image"
                                 style="max-width: 300px; max-height: 300px;">
                        </a>
                    </td>
                    <td th:text="${siteUserList.receivedSiteUser.nickname}"></td>
                    <td th:text="${siteUserList.receivedSiteUser.living}"></td>
                    <td th:text="${siteUserList.receivedSiteUser.age}"></td>
                    <td th:text="${siteUserList.receivedSiteUser.About_Me}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="receivedTab" class="tab-content" style="display: none;">
        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                <tr>
                    <th>사진</th>
                    <th>닉네임</th>
                    <th>지역</th>
                    <th>나이</th>
                    <th>간단 자기소개</th>
                </tr>
                </thead>
                <tbody th:if="${#lists.isEmpty(receivedSiteUserList)}">
                <tr>
                    <td colspan="2">받은 관심이 없습니다.</td>
                </tr>
                </tbody>
                <tbody th:unless="${#lists.isEmpty(receivedSiteUserList)}">
                <tr th:each="receivedSiteUserList : ${receivedSiteUserList}">
                    <td>
                        <a th:href="@{|/user/detail/${receivedSiteUserList.SiteUser.Id}|}">
                            <img class="w-30 h-30" th:src="@{|${receivedSiteUserList.SiteUser.filepath}|}"
                                 alt="User Image"
                                 style="max-width: 300px; max-height: 300px;">
                        </a>
                    </td>
                    <td th:text="${receivedSiteUserList.SiteUser.nickname}"></td>
                    <td th:text="${receivedSiteUserList.SiteUser.living}"></td>
                    <td th:text="${receivedSiteUserList.SiteUser.age}"></td>
                    <td th:text="${receivedSiteUserList.SiteUser.About_Me}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function showTab(tabName) {
            var tabContents = document.getElementsByClassName('tab-content');
            for (var i = 0; i < tabContents.length; i++) {
                tabContents[i].style.display = 'none';
            }
            document.getElementById(tabName).style.display = 'block';
        }
    </script>
</div>
</body>
</html>